.wrath-and-glory.roll-dialog
{
  form {
    display: flex;
    flex-direction: column;
  }
  display: flex;
  flex-direction: column;

  .dialog-content {
    display: flex;
    flex: 1;
  }

  .dialog-fields {
    flex: 0 0 300px;
  }

  h1 {
    margin: 0;
    border-style: solid;
    border-width: 0px 8px 8px 8px;
    border-image: var(--image-title-border) 8 8 8 8 repeat repeat;
    color: var(--color-red);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 0 30px;
  }

  label  {
    text-align: center;
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 5px;
    font-family: var(--font-text);
    font-size: 14px;
    border: 1px solid var(--color-black);
    height: 31px;
    flex: 0 0 5rem;
    text-wrap: nowrap;
  }

  input[type="text"],
  input[type="number"],
  select {
    &:disabled {
      opacity : 0.5;
    }
    background: var(--image-input) repeat;
    border: 1px solid var(--color-black);
    border-radius: 0;
    border-left: 0;
    box-shadow: inset 0 0 6px var(--color-dark-grey);
    color: var(--color-black);
    font-size: 14px;
    font-family: var(--font-text);
    text-align: center;
    height: 31px;
  }

  input[type="checkbox"]
  {
    &:before {
      content: "";
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      display: block;
      height: 31px;
      background: white;
      border: 1px solid black;
      cursor: pointer;
      width: 31px;
      box-sizing: border-box;
    }

    &:checked{
      &::before {
        content : "\f00c";
        background: var(--color-imperium);
        text-align: center;
        font-size: 24px;
        color: white
      }
    }
    height: 31px;
    margin: 0px;
    border-radius: 0px;
  }

  .wrapper {
    display : flex;
    margin: 5px;
  }


  .ed-values {
    display: flex;
    flex-direction: column;
    .dice-inputs {
      display: flex;
    }
  }

  .input-labels {
    display: flex;
    justify-content: right;
    text-align: center;
    line-height: 1rem;
    height: 1rem;
    > * {
      flex: 1;
    }
    label {
      flex: 0 0 5rem;
      padding: 0px;
    }
  }

  .dialog-modifiers 
  {
    margin: 5px;
    label {
      width: 100%;
      display: block;
    }
    flex: 1;
    ul {
      list-style: none;
      margin: 0px;
      li {
        margin: 0px;
        line-height: 1.5rem;
        padding-left: 5px;
      }
      li.active {
        background-color: var(--color-imperium);
        color: #CCC;
      }
    }

    background: var(--image-input) repeat;
    border: 1px solid var(--color-black);
    border-radius: 0;
    border-left: 0;
    box-shadow: inset 0 0 6px var(--color-dark-grey);
    color: var(--color-black);
    font-size: 14px;
    font-family: var(--font-text);
  }
  
}