<div class="wrath-and-glory chat roll">
<div class="wrapper">
    <h3>{{context.title}}</h3>
</div>

<div class="wrapper-input">
    {{{result.enrichedDescription}}}
</div>

{{#if result.damage}}
<div class="wrapper">
    <button type="button" class="roll-damage">Roll Damage</button>
</div>
{{/if}}

<div class="wrapper">
{{> effectButtons}}
</div>
</div>