<form class="{{cssClass}}" autocomplete="off">
  <div class="talent">
    <div class="sheet-header">
      <div class="avatar">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{name}}" />
      </div>
      <div class="bio">
        <div class="wrapper-row">
          <div class="name">
            <label>{{localize "TALENT.NAME"}}</label>
            <input name="name" type="text" value="{{name}}" />
          </div>
        </div>
      </div>
    </div>

    <div class="sheet-tabs tabs" data-group="primary">
      <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
      <b class="item" data-tab="stats">{{localize "TAB.STATS"}}</b>

      <b class="item" data-tab="effects">{{localize "TAB.EFFECTS"}}</b>
    </div>

    <div class="sheet-body">
      <div class="tab" data-group="primary" data-tab="description">
        <div class="description">
          {{editor system.description target="system.description" button=true owner=owner editable=editable}}
        </div>
      </div>
      <div class="tab" data-group="primary" data-tab="stats">

        <div class="wrapper">
          <div class="item-form-group">
            <label>{{localize "TALENT.REQUIREMENTS"}}</label>
            <div class="item-form-inputs">
              <input name="system.requirements" type="text" value="{{system.requirements}}" />
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="item-form-group static">
            <label>{{localize "TALENT.COST"}}</label>
            <div class="item-form-inputs small">
              <input name="system.cost" type="number" value="{{system.cost}}" data-dtype="Number" />
            </div>
          </div>
          <div class="item-form-group static">
            <label>{{localize "TALENT.DISPLAY"}}</label>
            <div class="item-form-inputs">
              <div class="wng-checkbox {{#if system.display}}checked{{else}}unchecked{{/if}}" data-target="system.display">
              {{#if system.display}}
                <i class="fas fa-check"></i>
              {{/if}}
              </div>
            </div>
          </div>    
      </div>
      </div>

      <div class="tab" data-group="primary" data-tab="effects">
        {{> systems/wrath-and-glory/template/item/tab/effects.html}}
      </div>
    </div>
  </div>
</form>