        {{> systems/wrath-and-glory/template/chat/roll/common/common-result.hbs}}
        {{#if result.isSuccess}}
        
        {{else}}
            {{#if fear}}
            <p><strong>{{localize "CHAT.FAIL_FEAR"}}</strong></p>
            {{/if}}
        {{/if}}
