<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
        {{> physical}}
        {{formGroup fields.keywords value=system.keywords}}
        {{> testDetails fields=fields.test.fields test=system.test}}

</section>