<div class="wrath-and-glory chat roll">
        {{> systems/wrath-and-glory/template/chat/roll/base/base-roll.hbs}}
        <div class="wrapper-input">
                {{> systems/wrath-and-glory/template/chat/roll/common/common-result.hbs}}
        </div>
        {{> systems/wrath-and-glory/template/chat/roll/common/common-buttons.hbs}}
</div>