.application.wrath-and-glory.sheet.item {
    .sheet-header {
        .header-fields {
            width: 100%;
        }
        .attribute-box {
            height: 1.5rem;
            width: 100%;
        }
    }

    .tab[data-tab]
    {
        overflow: auto;
    }

    .flexrow {
        gap: 0.5rem;
    }

    .form-group:has(input[type="checkbox"])
    {
        label {
            flex:8;
        }
    }

    .skills {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 25rem;
        gap: 0.5rem;
    }

    .damage-labels {
        display: flex;
        .spacer {
            flex: 2
        }

        .labels {
            flex: 3;
            display: flex;
            justify-content: space-evenly;
            > * {
                flex: 1;
            }
            text-align: center;
        }
    }

    &.psychicPower,
    &.faction {
        .sheet-divider {
            display: Flex;
            align-items: center;
            gap: 1rem;
            justify-content: center;
        }
        input {
            padding: 0px 0.5rem;
        }
        .row-content {
            gap: 0.5rem;
        }
        .list-row {
            margin-bottom: 0.5rem;
        }
    }

    .potency {
        .row-content {
            margin-bottom:  0.5rem;
        }
        input {
            text-align: center;
        }
        button {
            margin: 0px auto;
            width: 2rem;

        }
    }
    
}
