.counter-app {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 240px;
    height: 85px;
    background-image: var(--image-input);
    border: 8px solid transparent;
    border-image: var(--image-border) 8 8 8 8 repeat repeat;
    border-image-outset: 5px;
    bottom: 74px;
    left: 251px;
    border-radius: 5px;
}

.counter-app > * {
    opacity: 1
}


.counter h3{
    text-align: center;
    margin: 5px;
    font-family: var(--font-text);
    font-weight: bold;
}

.counter .input-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.counter .input-controls > * {
    margin: 5px;
}

.counter .input-controls input {
    text-align: center;
    width: 30px;
    background: rgba(0, 0, 0, 0.2   );
    border-radius: 0px;
}

.counter .input-controls a {
    background: var(--color-red);
    border: 1px outset grey;
    color: var(--color-white);
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
}

.counter .input-controls a:hover {
    cursor: pointer
}

.counter .input-controls a.clicked {
    border: 1px inset grey;
}