<div class="wrath-and-glory chat roll">
    <div class="wrapper">
        <h3>{{context.title}}</h3>

        <h4>{{localize "CHAT.DN"}} {{result.dn}}</h4>
        <div class="dice-container">
            {{#each result.dice as |die|}}
            <div class="die {{die.name}}"><img src="{{die.img}}.png"/></div>
            {{/each}}
        </div>
    </div>
    {{log this}}

    <div class="wrapper-input">
        {{#if result.isSuccess}}
        <div class="seal approved"></div>
        {{else}}
        <div class="seal heresy"></div>
        {{/if}}
        <p><strong>{{localize "CHAT.SUCCESS"}}: {{result.success}}</strong></p>
        <p><strong>{{localize "CHAT.FAILURE"}}: {{result.failure}}</strong></p>
        {{#if result.isSuccess}}
        <p><strong>{{localize "CHAT.SHIFTING"}}: {{result.shifting}}</strong></p>
        {{/if}}
        {{#if result.isWrathCritical}}
        {{#if weapon}}
        <p><strong style="color: var(--color-red)">{{localize "CHAT.WRATH_CRITICAL_TITLE"}}</strong><strong>:
                {{localize "CHAT.WRATH_CRITICAL_WEAPON"}}</strong></p>
        {{else if power}}
        <p><strong style="color: var(--color-red)">{{localize "CHAT.WRATH_CRITICAL_TITLE"}}</strong><strong>:
                {{localize "CHAT.WRATH_CRITICAL_PSY"}}</strong></p>
        {{else}}
        <p><strong style="color: var(--color-red)">{{localize "CHAT.WRATH_CRITICAL_TITLE"}}</strong><strong>:
                {{localize "CHAT.WRATH_CRITICAL_COMMON"}}</strong></p>
       
        {{/if}}
        {{/if}}
        {{#if result.isWrathComplication}}
        {{#if weapon}}
        <p><strong style="color: var(--color-red)">{{localize "CHAT.WRATH_COMPLICATION_TITLE"}}</strong><strong>:
                {{localize "CHAT.WRATH_COMPLICATION_WEAPON"}}</strong></p>
        {{else if power}}
        <p><strong style="color: var(--color-red)">{{localize "CHAT.WRATH_COMPLICATION_TITLE"}}</strong><strong>:
                {{localize "CHAT.WRATH_COMPLICATION_PSY"}}</strong></p>
        {{else}}
        <p><strong style="color: var(--color-red)">{{localize "CHAT.WRATH_COMPLICATION_TITLE"}}</strong><strong>:
                {{localize "CHAT.WRATH_COMPLICATION_COMMON"}}</strong></p>

        {{/if}}
        {{/if}}
    </div>
    {{#if result.damage}}
    <div class="wrapper">
        <button type="button" class="roll-damage">Roll Damage</button>
    </div>
    {{/if}}
    {{#if result.isWrathCritical}}
        {{#if weapon}}
        <div class="wrapper">
                <button type="button" class="roll-damage">Roll Critical Hit</button>
        </div>
        {{/if}}
    {{/if}}
    {{#if result.isWrathComplication}}
        {{#if weapon}}
        <div class="wrapper">
                <button type="button" class="roll-wrath">Roll Complication</button>
        </div>
        {{else if power}}
        <div class="wrapper">
                <button type="button" class="roll-wrath">Perils of the Warp</button>
        </div>
        {{else}}
        <div class="wrapper">
                <button type="button" class="roll-wrath">Roll Complication</button>
        </div>
        {{/if}}
    {{/if}}

        {{#if result.isWrathCritical}}
                {{#if weapon}}
                <div class="wrapper">
                        <button type="button" class="roll-wrath">Roll Critical Hit</button>
                </div>
                {{/if}}
        {{/if}}

</div>
</div>