{{> systems/wrath-and-glory/template/chat/roll/base/base-buttons.hbs}}
{{#if result.isWrathComplication}}
<div class="wrapper">
        <button type="button" class="roll-wrath">Roll Complication</button>
</div>
{{/if}}