<div class="form-group stacked">
        <label><a data-action="editTraits">{{localize "ARMOUR.TRAITS"}} <i class="fas fa-cog"></i></a></label>
        <div class="form-fields">
                <input disabled type="text" value="{{system.traits.added}}" />
        </div>
</div>