<div class="form-group stacked">
        <label><a data-action="editTraits" data-type="add">{{localize "WEAPON_UPGRADE.TRAITS_ADD"}} <i class="fas fa-cog"></i></a></label>
        <div class="form-fields">
                <input disabled type="text" value="{{system.traits.added}}" />
        </div>
</div>
<div class="form-group stacked">
<label><a data-action="editTraits" data-type="remove">{{localize "WEAPON_UPGRADE.TRAITS_REMOVE"}} <i class="fas fa-cog"></i></a></label>
        <div class="form-fields">
                <input disabled type="text" value="{{system.traits.removed}}" />
        </div>
</div>