<div class="wrath-and-glory chat roll">
        <h3>{{context.title}}</h3>
        {{> systems/wrath-and-glory/template/chat/roll/base/dice-container.hbs}}
        <div class="wrapper-input">
                {{> systems/wrath-and-glory/template/chat/roll/stealth/stealth-result.hbs}}
        </div>
</div>
