.wrath-and-glory.sheet.actor.agent {
    .sheet-header .details .row {
      .quote {
        flex-basis: calc(80% - 1px);
      }
      .wrath {
        flex-basis: calc(20% - 1px);
        label {
          min-width: 70px;
          max-width: 70px;
        }
      }
    }
  }