.wrath-and-glory.sheet.actor.threat {
  .details {

    .threat input {
      flex-basis: 20%;
    }

    .mob,
    .ruin {
      display: flex;
      flex-direction: row;
      flex-basis: calc(20% - 1px);
      margin-left: 1px;

      label {
        min-width: 50px;
        max-width: 50px;
      }
    }
  }
}