.wrath-and-glory.sheet.actor.vehicle {
  .sheet-header .details {
    label {
      min-width: 80px;
      max-width: 80px;
    }
  .row {
    > * {
      flex: 1
    }
    .size {
      select {
        width: 100%;
      }
    }
    .name {
      flex: 2;
    }
    .defence {
      // flex: 0.665;
    }
  }
}

  .main.tab {
    .crew-list {
      height: calc(100% - 120px);
      overflow: auto;
      margin-bottom: 10px;
      padding-right: 5px;
      .complement-list {
        .header {
          input {
            height: 100%;
            width: 25px;
            border: none;
            background: #444;
            color: white;
            box-shadow: none;
          }
        }

        .item {
          flex: 0 0 25px;
        }
      }
    }
  }

  .wrapper.traits {
    .wrapper-item {
      display :flex;

      label {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    }
  }

  .tab[data-tab=notes].active
  {
    height: calc(100% - 10px);
    .notes-tab .editor{
      height: calc(100% - 50px);
    }
    .notes-tab .editor-content {
      height: calc(100%);
    }
  }
}