.wrath-and-glory.sheet.item form {
  height: 100%
}

.wrath-and-glory.sheet.item .tab[data-tab="stats"] {
  height: calc(100% - 150px)
}

  .wrath-and-glory.sheet.item .tab[data-tab="description"] {
  height: 100%
}

.wrath-and-glory.sheet.item .description {
  height: 100%
}

.wrath-and-glory.sheet.item .species,
.wrath-and-glory.sheet.item .faction,
.wrath-and-glory.sheet.item .archetype,
.wrath-and-glory.sheet.item .ability,
.wrath-and-glory.sheet.item .ammo,
.wrath-and-glory.sheet.item .armour,
.wrath-and-glory.sheet.item .ascension,
.wrath-and-glory.sheet.item .augmentic,
.wrath-and-glory.sheet.item .gear,
.wrath-and-glory.sheet.item .keyword,
.wrath-and-glory.sheet.item .memorable-injury,
.wrath-and-glory.sheet.item .mutation,
.wrath-and-glory.sheet.item .psychic-power,
.wrath-and-glory.sheet.item .talent,
.wrath-and-glory.sheet.item .traumatic-injury,
.wrath-and-glory.sheet.item .weapon,
.wrath-and-glory.sheet.item .weapon-upgrade {
  width: 100%;
  height: 100%;
}


.wrath-and-glory.sheet.item .description .editor {
  min-height: 200px;
}


/* HEADER */

.wrath-and-glory.sheet.item .sheet-header {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 100px;
  column-gap: 8px;
  row-gap: 0;
  width: 100%;
  height: 100px;
}

.wrath-and-glory.sheet.item .sheet-header .avatar {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  border: 8px solid transparent;
  border-image: var(--image-border) 8 8 8 8 repeat repeat;
}

.wrath-and-glory.sheet.item .sheet-header .avatar img {
  border: 0 none;
  height: 100%;
  object-fit: cover;
}

.wrath-and-glory.sheet.item .sheet-header .bio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
}

.wrath-and-glory.sheet.item .sheet-header .bio .wrapper-row {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}

.wrath-and-glory.sheet.item .sheet-header .bio label {
  min-width: 100px;
  max-width: 100px;
  height: 31px;
}

.wrath-and-glory.sheet.item .sheet-header .bio input {
  flex-grow: 1;
}

.wrath-and-glory.sheet.item .sheet-header .bio .name {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}

/* TABS */

.wrath-and-glory.sheet.item .sheet-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: 100%;
  font-size: 18px;
  font-family: var(--font-text);
  font-weight: bold;
  margin: 8px 0;
  border: 8px solid transparent;
  border-image: var(--image-border) 8 8 8 8 repeat repeat;
}

.wrath-and-glory.sheet.item .sheet-tabs .item {
  color: var(--color-white);
  background-color: var(--color-black);
  cursor: pointer;
  padding: 5px 0;
  flex: 1
}

.wrath-and-glory.sheet.item .sheet-tabs .item:hover,
.wrath-and-glory.sheet.item .sheet-tabs .item.active  {
  background-color: var(--color-red);
  text-shadow: none;
}

/* BODY */

.wrath-and-glory.sheet.item .sheet-body {
  width: 100%;
  height: calc(100% - 165px);
  overflow: auto;
}

.wrath-and-glory.sheet.item .editor,
.wrath-and-glory.sheet.item .editor-content {
  font-family: var(--font-text);
  font-size: 14px;
  color: var(--color-text);
  height: 100%;
  width: 100%;
  background: url(../../asset/image/input.webp) repeat;
  box-shadow: inset 0 0 6px var(--color-dark-grey);
}

.wrath-and-glory.sheet.item .editor {
  border: 1px solid var(--color-black);
}

.wrath-and-glory.sheet.item .editor-content {
  padding: 8px;
  color: var(--color-black);
}

.wrath-and-glory.sheet.sheet.item .wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5px
}

.wrath-and-glory.sheet.sheet.item .wrapper > *{
  width: 100%
}

.wrath-and-glory.sheet.sheet.item .wrapper > h1{
  width: unset
}

.wrath-and-glory.sheet.sheet.item .wrapper .item-form-group{
  display: flex;
  flex-direction: row;
  width: fit-content;
  flex: 1
}

.wrath-and-glory.sheet.sheet.item .wrapper .item-form-group.static{
  flex: unset
}


.wrath-and-glory.sheet.sheet.item .wrapper .item-form-group.stacked{
  flex-direction: column;
}

.wrath-and-glory.sheet.sheet.item .wrapper .item-form-inputs{
  width: 100%;
  display:flex;
}

.wrath-and-glory.sheet.sheet.item .wrapper .item-form-inputs.small{
  width: 50px;
}

.wrath-and-glory.sheet.sheet.item .wrapper .item-form-inputs.medium{
  width: 100px
}

.wrath-and-glory.sheet.item .wrapper  input,
.wrath-and-glory.sheet.item .wrapper  select,
.wrath-and-glory.sheet.item .wrapper  label {
  height: 31px;
  cursor: default;
}

.wrath-and-glory.sheet.item .wrapper .item-form-group.fixed label{
  width: 150px;
}


.wrath-and-glory.sheet.item .wrapper  label {
  white-space: nowrap;
}

.wrath-and-glory.sheet.item .wrapper .damage-header {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  text-align: center;
}

.wrath-and-glory.sheet.item .wrapper .damage-header .spacer {
  min-width: 114px;
  max-width: 114px;
}

.wrath-and-glory.sheet.item .wrapper .damage-header .rank {
  flex: 1.5
}

.wrath-and-glory.sheet.item .wrapper .damage-header .base,
.wrath-and-glory.sheet.item .wrapper .damage-header .modifier {
  flex: 1
}

.wrath-and-glory.sheet.item .wrapper .item-checkbox {
  height: 31px;
  width: 31px;
  background: white;
  border: 1px solid black;
  cursor: pointer
}

.wrath-and-glory.sheet.item .wrapper .item-checkbox.checked{
  background: var(--color-imperium);
  text-align: center;
  font-size: 24px;
  color: white
}


.wrath-and-glory.sheet.item .sheet-body .wrapper-title .wrapper {
  flex-wrap: wrap;
}

.wrath-and-glory.sheet.item .sheet-body .wrapper-title .wrapper .stat {
  display: flex;
  flex-direction: row;
  flex-basis: calc(50% - 4px);
  margin-top: 4px;
}

.wrath-and-glory.sheet.item .sheet-body .wrapper-title .wrapper .stat:nth-child(even) {
  margin-left: 4px;
}

.wrath-and-glory.sheet.item .sheet-body .wrapper-title .wrapper .stat:nth-child(odd) {
  margin-right: 4px;
}


.wrath-and-glory.sheet.item .mutation .sheet-body .wrapper .effect {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}

  .wrath-and-glory.sheet.item .wrapper.potency {
    flex-direction: column;
  justify-content: center;
  align-items: center;
}


.wrath-and-glory.sheet.item .wrapper.potency .potency-header{
 display: flex; 
 justify-content: center;
 font-weight:bold
}

.wrath-and-glory.sheet.item .objectives button,
.wrath-and-glory.sheet.item .faction-backgrounds button,
  .wrath-and-glory.sheet.item .wrapper.potency button{
  height: 20px;
  width: 20px;
  margin: 3px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
 }

.wrath-and-glory.sheet.item .potency-list{
  display: flex;
  flex-direction: column;
}

.wrath-and-glory.sheet.item .potency-fields{
  display: flex;
  text-align: center;
}
 
.wrath-and-glory.sheet.item .potency-fields > *{
  flex: 1;
}
 
.wrath-and-glory.sheet.item .potency-fields > a{
  flex: 0 0 20px;
}

.wrath-and-glory.sheet.item .potency-fields > .item-checkbox{
  flex: 0 0 31px;
}


.wrath-and-glory.sheet.item .background .background-delete,
  .wrath-and-glory.sheet.item .potency-content .potency-fields > a{
text-align: center;
color: white;
background: black;
align-items: center;
font-size: 16px;
display: flex;
justify-content: center;
}

.wrath-and-glory.sheet.item .background .background-delete:hover,
.wrath-and-glory.sheet.item .potency-content  .potency-fields > a:hover{
  background: var(--color-imperium)
}
 
 
 

.wrath-and-glory.sheet.item .wrapper.benefits {
  height: 100%;
  justify-content: center;
}


/* WEAPON UPGRADE */

.wrath-and-glory.sheet.item .weapon-upgrade .description .editor {
  height: 200px;
}

.wrath-and-glory.sheet.item .weapon-upgrade .sheet-body .wrapper .effect,
.wrath-and-glory.sheet.item .weapon-upgrade .sheet-body .wrapper .keywords {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}

.wrath-and-glory.sheet.item .weapon-upgrade .sheet-body .wrapper .value {
  display: flex;
  flex-direction: row;
  flex-basis: calc(50% - 4px);
  margin-right: 4px;
}

.wrath-and-glory.sheet.item .weapon-upgrade .sheet-body .wrapper .rarity {
  display: flex;
  flex-direction: row;
  flex-basis: calc(50% - 4px);
  margin-left: 4px;
}


.wrath-and-glory.sheet.item .species,
  .wrath-and-glory.sheet.item .archetype{
 height: 100%
}

.wrath-and-glory.sheet.item .species .sheet-body,
  .wrath-and-glory.sheet.item .archetype .sheet-body {
  margin-top: 5px;
  height: calc(100% - 105px)
}

.wrath-and-glory.sheet.item .wrapper.item-skills,
  .wrath-and-glory.sheet.item .wrapper.item-attributes {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.wrath-and-glory.sheet.item .wrapper.item-attributes .item-form-inputs {
  width: unset;
}

.wrath-and-glory.sheet.item .wrapper.item-skills .item-form-inputs input,
  .wrath-and-glory.sheet.item .wrapper.item-attributes .item-form-inputs input{
  border: 1px solid black;
  flex: 1;
}



.wrath-and-glory.sheet.item .wrapper.item-attributes .item-form-groups {
  flex-direction: row;
  display: flex;
}

.wrath-and-glory.sheet.item .wrapper.item-attributes .item-form-group {
  flex-direction: column;
  display: flex;
  margin: 5px;
}

.wrath-and-glory.sheet.item .wrapper.item-skills .item-form-groups {
  height: 340px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  margin-top: 3px;
}

.wrath-and-glory.sheet.item .wrapper.item-skills .item-form-groups .item-form-group {
  margin: 3px;
}

.wrath-and-glory.sheet.item .wrapper.item-skills .item-form-groups label{
  width: 125px;
}

.wrath-and-glory.sheet.item .wrapper.item-skills .item-form-groups .item-form-inputs{
  width: 100px;
}


.wrath-and-glory.sheet.item .archetype .wrapper.wargear {
  flex-direction: column;
}

.wrath-and-glory.sheet.item .archetype .wrapper.wargear .wargear-list {
  background: url(../../asset/image/input.webp) repeat;
  min-height: 200px;
  box-shadow: inset 0 0 20px var(--color-dark-grey);
  margin: 5px;
  width:unset;
}

.wrath-and-glory.sheet.item .species .species-item-list,
  .wrath-and-glory.sheet.item .archetype .archetype-item-list {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--image-input) repeat;
    border: 1px solid var(--color-black);
    border-radius: 0;
    border-left: 0;
    box-shadow: inset 0 0 6px var(--color-dark-grey);
    color: var(--color-black);
    font-size: 14px;
    font-family: var(--font-text);
    text-align: center;
    height: 31px;
    width: 100%
}

.wrath-and-glory.sheet.item .archetype .wargear-list{
  padding: 5px;
}



.wrath-and-glory.sheet .group-wrapper,
#archetype-groups .group-wrapper {
    display: flex;
}

#archetype-groups .group
{
    margin: 3px;
    border: 1px solid var(--color-imperium);
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 2px;
    display: flex;
}

.wrath-and-glory.sheet .group-wrapper .group
{
    padding: 2px;
    display: flex;
}

.wrath-and-glory.sheet .group-wrapper .group-list,
#archetype-groups .group-list
{
    display: flex;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
}

#archetype-groups .group .wargear
{
    margin: 3px;
    padding: 2px;
    width: fit-content;
    font-weight: bold;
}

.wrath-and-glory.sheet .group .wargear {
    width: fit-content;
    font-weight: bold;
}

.wrath-and-glory.sheet .connector {
  margin-right: 5px;
}


.wrath-and-glory.sheet .comma {
  margin-right: 5px;
}

.wrath-and-glory.sheet .group .wargear:hover,
#archetype-groups .group .wargear:hover
{   
    cursor: pointer;
    text-shadow: 0 0 8px var(--color-imperium)
}


#archetype-groups .dragenter
{   
    outline: 1px dotted var(--color-imperium);
}


.wrath-and-glory.sheet .faction h1,
  .wrath-and-glory.sheet .archetype .wargear h1 {
  display: flex;
  justify-content: center;
}


.wrath-and-glory.sheet .archetype button {
  height: 20px;
  width: 20px;
  margin: 3px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
}

.wrath-and-glory.sheet .archetype button > i{
  margin: 0px;
}


.wrath-and-glory.sheet .objectives,
.wrath-and-glory.sheet .objectives .objectives-list,
.wrath-and-glory.sheet .faction-backgrounds .backgrounds,
.wrath-and-glory.sheet .faction-backgrounds .backgrounds .background-list,
  .wrath-and-glory.sheet .faction-backgrounds {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}


.wrath-and-glory.sheet .faction-backgrounds .background {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 3px;
}

.wrath-and-glory.sheet .faction-backgrounds .bg-effect,
  .wrath-and-glory.sheet .faction-backgrounds .bg-name {
  flex: 0.3
}

.wrath-and-glory.sheet .faction-backgrounds .bg-description {
  flex: 1
}

.wrath-and-glory.sheet .faction-backgrounds .background-delete {
  flex: 0 0 20px;
  height: 31px;
}

.wrath-and-glory.sheet .faction-backgrounds .background-header {
  display: flex;
  width: 100%;
  text-align: center
}

.wrath-and-glory.sheet .objectives .objective {
  margin: 3px;
}



