<form class="{{cssClass}}" autocomplete="off">
  <div class="ability">
    <div class="sheet-header">
      <div class="avatar">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{name}}" />
      </div>
      <div class="bio">
        <div class="wrapper-row">
          <div class="name">
            <label>{{localize "ABILITY.NAME"}}</label>
            <input name="name" type="text" value="{{name}}" />
          </div>
        </div>
      </div>
    </div>

    <div class="sheet-tabs tabs" data-group="primary">
      <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
      <b class="item" data-tab="stats">{{localize "TAB.STATS"}}</b>

      <b class="item" data-tab="effects">{{localize "TAB.EFFECTS"}}</b>
    </div>

    <div class="sheet-body">
      <div class="tab" data-group="primary" data-tab="description">
        <div class="description">
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
      </div>
      <div class="tab" data-group="primary" data-tab="stats">

        <div class="wrapper">
          <div class="item-form-group static">
            <label>{{localize "ABILITY.COST"}}</label>
            <div class="item-form-inputs small">
              <input name="data.cost" type="number" value="{{data.cost}}" data-dtype="Number" />
            </div>
          </div>
          <div class="item-form-group">
            <label>{{localize "ABILITY.REQUIREMENTS"}}</label>
            <div class="item-form-inputs">
              <input name="data.requirements" type="text" value="{{data.requirements}}" />
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="item-form-group static">
            <label>{{localize "ABILITY.DISPLAY"}}</label>
            <div class="item-form-inputs">
              <div class="wng-checkbox {{#if data.display}}checked{{else}}unchecked{{/if}}" data-target="data.display">
              {{#if data.display}}
                <i class="fas fa-check"></i>
              {{/if}}
              </div>
            </div>
          </div>
          <div class="item-form-group static">
            <label>{{localize "ABILITY.TYPE"}}</label>
            <select name="data.abilityType">
              {{#select data.abilityType}}
              <option value=""> - </option>
              {{#each (config "abilityTypes") as |type t|}}
              <option value="{{t}}">{{type}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
        </div>

        {{#unless (eq data.abilityType "determination")}}
        <div class="wrapper">
          <div class="item-form-group">
            <label>{{localize "PSYCHIC_POWER.TEST"}}</label>
            <div class="item-form-inputs small">
              <input name="data.test.dn" class="dn" placeholder="DN" type="number" value="{{data.test.dn}}" data-dtype="Number" />
            </div>
            <div class="item-form-inputs">
              <select name="data.test.type" class="type">
                {{#select data.test.type}}
                  <option value="">-</option>
                  {{#each (config "testTypes") as |type k|}}
                  <option value="{{k}}">{{type}}</option>
                  {{/each}}
                {{/select}}
              </select>
              {{#if (eq data.test.type "attribute")}}
                <select name="data.test.specification" class="attribute">
                {{#select data.test.specification}}
                  <option value="">-</option>
                  {{#each (config "attributes") as |attribute k|}}
                  <option value="{{k}}">{{attribute}}</option>
                  {{/each}}
                {{/select}}
              </select>
              {{/if}}
              {{#if (eq data.test.type "skill")}}
              <select name="data.test.specification" class="skill">
                {{#select data.test.specification}}
                  <option value="">-</option>
                  {{#each (config "skills") as |skill k|}}
                  <option value="{{k}}">{{skill}}</option>
                  {{/each}}
                {{/select}}
              </select>
              {{/if}}
              {{#if (eq data.test.type "resolve")}}
              <select name="data.test.specification" class="resolve">
                {{#select data.test.specification}}
                  <option value="">-</option>
                  {{#each (config "resolveTests") as |test k|}}
                  <option value="{{k}}">{{test}}</option>
                  {{/each}}
                {{/select}}
              </select>
              {{/if}}
              {{#if (eq data.test.type "conviction")}}
              <select name="data.test.specification" class="conviction">
                {{#select data.test.specification}}
                  <option value="">-</option>
                  {{#each (config "convictionTests") as |test k|}}
                  <option value="{{k}}">{{test}}</option>
                  {{/each}}
                {{/select}}
              </select>
              {{/if}}
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="damage-header">
            <b class="spacer"></b>
            <b class="base">{{localize "DIALOG.BASE"}}</b>
            <b class="rank">{{localize "DIALOG.RANK"}}</b>
            <b class="modifier">{{localize "DIALOG.BONUS"}}</b>
          </div>
          <div class="item-form-group fixed">
            <label>{{localize "PSYCHIC_POWER.DAMAGE"}}</label>
            <div class="item-form-inputs">
              <input name="data.damage.base" class="base" type="number" value="{{data.damage.base}}"
              data-dtype="Number" />
              <select name="data.damage.rank" class="rank">
                {{#select data.damage.rank}}
                <option value="none">{{localize "RANK.NONE"}}</option>
                <option value="single">{{localize "RANK.SINGLE"}}</option>
                <option value="double">{{localize "RANK.DOUBLE"}}</option>
                {{/select}}
              </select>
              <input name="data.damage.bonus" class="modifier" type="number" value="{{data.damage.bonus}}" data-dtype="Number" />
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="item-form-group fixed">
            <label>{{localize "PSYCHIC_POWER.ED"}}</label>
            <div class="item-form-inputs">
              <input name="data.ed.base" class="base" type="number" value="{{data.ed.base}}" data-dtype="Number" />
              <select name="data.ed.rank" class="rank">
                {{#select data.ed.rank}}
                <option value="none">{{localize "RANK.NONE"}}</option>
                <option value="single">{{localize "RANK.SINGLE"}}</option>
                <option value="double">{{localize "RANK.DOUBLE"}}</option>
                {{/select}}
              </select>
              <input name="data.ed.bonus" class="modifier" type="number" value="{{data.ed.bonus}}" data-dtype="Number" />
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="item-form-group fixed">
            <label>{{localize "WEAPON.AP"}}</label>
            <div class="item-form-inputs">
              <input name="data.ap.base" class="base" type="number" value="{{data.ap.base}}" data-dtype="Number" />
              <select name="data.ap.rank" class="rank">
                {{#select data.ap.rank}}
                <option value="none">{{localize "RANK.NONE"}}</option>
                <option value="single">{{localize "RANK.SINGLE"}}</option>
                <option value="double">{{localize "RANK.DOUBLE"}}</option>
                {{/select}}
              </select>
              <input name="data.ap.bonus" class="modifier" type="number" value="{{data.ap.bonus}}" data-dtype="Number" />
            </div>
          </div>
        </div>

        <div class="wrapper">
          <div class="damage-header">
            <b class="spacer"></b>
            <b class="base">{{localize "PSYCHIC_POWER.SHOCK"}}</b>
            <b class="rank">{{localize "PSYCHIC_POWER.WOUNDS"}}</b>
            <b class="modifier">{{localize "PSYCHIC_POWER.MORTAL"}}</b>
          </div>
          <div class="item-form-group fixed">
            <label>{{localize "PSYCHIC_POWER.OTHER_DAMAGE"}}</label>
            <div class="item-form-inputs">
              <input name="data.otherDamage.shock" class="base" type="text" value="{{data.otherDamage.shock}}" data-dtype="String" />
              <input name="data.otherDamage.wounds" class="base" type="text" value="{{data.otherDamage.wounds}}" data-dtype="String" />
              <input name="data.otherDamage.mortalWounds" class="modifier" type="text" value="{{data.otherDamage.mortalWounds}}" data-dtype="String" />
            </div>
          </div>
        </div>

        <div class="wrapper">
          <div class="item-form-group stacked">
            <label>{{localize "WEAPON.TRAITS"}}<a class="item-traits"><i class="fas fa-cog"></i></a></label>            
            <div class="item-form-inputs">
              <input disabled type="text" value="{{item.Traits}}" />
            </div>
          </div>
        </div>
        {{/unless}}
      </div>
      <div class="tab" data-group="primary" data-tab="effects">
        {{> systems/wrath-and-glory/template/item/tab/effects.html}}
      </div>
    </div>
  </div>
</form>