<form class="{{cssClass}}" autocomplete="off">
  <div class="archetype">
    <div class="sheet-header">
      <div class="avatar">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{name}}" />
      </div>
      <div class="bio">
        <div class="wrapper-row">
          <div class="name">
            <label>{{localize "ARCHETYPE.NAME"}}</label>
            <input name="name" type="text" value="{{name}}" />
          </div>
        </div>
      </div>
    </div>

    <div class="sheet-body">


      <div class="wrapper">
        <div class="item-form-group">
          <label>{{localize "ARCHETYPE.TIER"}}</label>
          <div class="item-form-inputs">
            <input name="data.tier" type="number" value="{{data.tier}}" data-dtype="Number" />
          </div>
        </div>
        <div class="item-form-group">
          <label>{{localize "ARCHETYPE.SPECIES"}}</label>
          <div class="archetype-item-list">
            <a class="archetype-item archetype-species" data-id="{{data.species.id}}">{{data.species.name}}</a>
          </div>
        </div>
        <div class="item-form-group">
          <label>{{localize "ARCHETYPE.COST"}}</label>
          <div class="item-form-inputs">
            <input type="text" value="" disabled />
          </div>
        </div>
      <div class="item-form-group">
          <label>{{localize "ARCHETYPE.INFLUENCE"}}</label>
          <div class="item-form-inputs">
            <input type="number" value="{{data.influence}}" name="data.influence" data-dtype="Number" />
          </div>
        </div>
      </div>

      <div class="wrapper">
        <div class="item-form-group">
          <label>{{localize "ARCHETYPE.KEYWORDS"}}</label>
          <div class="item-form-inputs">
            <input type="text" class="keywords" value="{{data.keywords}}"/>
          </div>
        </div>
      </div>

      <div class="wrapper">
        <div class="item-form-group">
          <label>{{localize "ARCHETYPE.FACTION"}}</label>
          <div class="archetype-item-list">
            <a class="archetype-item archetype-faction" data-id="{{data.faction.id}}">{{data.faction.name}}</a>
          </div>
        </div>
      </div>

      <div class="wrapper item-attributes">
        <h1>{{localize "ARCHETYPE.ATTRIBUTES"}}</h1>
        <div class="item-form-groups">
          {{#each (config "attributeAbbrev") as |attribute a|}}
            <div class="item-form-group">
              <label>{{attribute}}</label>
              <div class="item-form-inputs">
                <input name="data.attributes.{{a}}" type="number" value="{{lookup ../data.attributes a}}" data-dtype="Number" />
              </div>
            </div>
            {{/each}}
        </div>
      </div>
      <div class="wrapper item-skills">
        <h1>{{localize "ARCHETYPE.SKILLS"}}</h1>
        <div class="item-form-groups">
          {{#each (config "skills") as |skill s|}}
          <div class="item-form-group">
            <label>{{skill}}</label>
            <div class="item-form-inputs">
              <input name="data.skills.{{s}}" type="number" value="{{lookup ../data.skills s}}" data-dtype="Number" />
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="wrapper">
        <div class="item-form-group">
          <label>{{localize "ARCHETYPE.ABILITY"}}</label>
          <div class="archetype-item-list">
            <a class="archetype-item archetype-ability" data-id="{{data.ability.id}}">{{data.ability.name}}</a>
          </div>
        </div>
      </div>

      <div class="wrapper wargear">
        <h1>{{localize "ARCHETYPE.WARGEAR"}} 
          <button type="button" class="add-generic"><i class="fas fa-plus"></i></button>
          <button type="button" class="reset"><i class="fas fa-redo"></i></button>
          <button type="button" class="configure-groups"><i class="fas fa-cog"></i></button>
        </h1>
        <div class="wargear-list">
          {{{wargearHTML}}}
        </div>
      </div>

      
      <div class="wrapper item-attributes">
        <h1>{{localize "ARCHETYPE.SUGGESTED_ATTRIBUTES"}}</h1>
        <div class="item-form-groups">
          {{#each (config "attributeAbbrev") as |attribute a|}}
            <div class="item-form-group">
              <label>{{attribute}}</label>
              <div class="item-form-inputs">
                <input name="data.suggested.attributes.{{a}}" type="number" value="{{lookup ../data.suggested.attributes a}}" data-dtype="Number" />
              </div>
            </div>
            {{/each}}
        </div>
      </div>
      <div class="wrapper item-skills">
        <h1>{{localize "ARCHETYPE.SUGGESTED_SKILLS"}}</h1>
        <div class="item-form-groups">
          {{#each (config "skills") as |skill s|}}
          <div class="item-form-group">
            <label>{{skill}}</label>
            <div class="item-form-inputs">
              <input name="data.suggested.skills.{{s}}" type="number" value="{{lookup ../data.suggested.skills s}}" data-dtype="Number" />
            </div>
          </div>
          {{/each}}
        </div>
      </div>

      
      <div class="wrapper">
        <div class="item-form-group">
          <label>{{localize "ARCHETYPE.SUGGESTED_TALENTS"}}</label>
            <div class="archetype-item-list">
              {{{talents}}}
            </div>
        </div>
      </div>
    </div>
  </div>
</form>