<form class="{{cssClass}}" autocomplete="off">
  <div class="weapon">
    <div class="sheet-header">
      <div class="avatar">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
      </div>
      <div class="bio">
        <div class="wrapper-row">
          <div class="name">
            <label>{{localize "WEAPON.NAME"}}</label>
            <input name="name" type="text" value="{{item.name}}" />
          </div>
        </div>
      </div>
    </div>

    <div class="sheet-tabs tabs" data-group="primary">
      <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
      <b class="item" data-tab="stats">{{localize "TAB.STATS"}}</b>

      <b class="item" data-tab="effects">{{localize "TAB.EFFECTS"}}</b>
    </div>

    <div class="sheet-body">
      <div class="tab" data-group="primary" data-tab="description">
        <div class="description">
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
      </div>
      <div class="tab" data-group="primary" data-tab="stats">
          <div class="wrapper">
            <div class="item-form-group static">
              <label>{{localize "WEAPON.CATEGORY"}}</label>
              <select name="data.category">
                {{#select data.category}}
                <option value="melee">{{localize "CATEGORY.MELEE"}}</option>
                <option value="ranged">{{localize "CATEGORY.RANGED"}}</option>
                <option value="grenade-missile">{{localize "CATEGORY.GRENADE_MISSILE"}}</option>
                <option value="launcher">{{localize "CATEGORY.LAUNCHER"}}</option>
                {{/select}}
              </select>
            </div>
            <div class="item-form-group static">
              <label>{{localize "WEAPON.QUANTITY"}}</label>
              <div class="item-form-inputs small">
                <input name="data.quantity" type="number" value="{{data.quantity}}" data-dtype="Number" />
              </div>
            </div>
        </div>
        {{#if (eq rangeType "multi")}}
        <div class="wrapper">
          <div class="item-form-group static">
            <label>{{localize "WEAPON.SALVO"}}</label>
            <div class="item-form-inputs small">
              <input name="data.salvo" type="number" value="{{data.salvo}}" data-dtype="Number" />
            </div>
          </div>
          <div class="item-form-group static">
            <label>{{localize "WEAPON.RANGE"}}</label>
            <div class="item-form-inputs medium">
              <input name="data.range.short" type="number" value="{{data.range.short}}" data-dtype="Number" />
              <input name="data.range.medium" type="number" value="{{data.range.medium}}" data-dtype="Number" />
              <input name="data.range.long" type="number" value="{{data.range.long}}" data-dtype="Number" />
            </div>
          </div>
        </div>
        {{else}}
        <div class="wrapper">
          <div class="item-form-group static">
            <label>{{localize "WEAPON.RANGE"}}</label>
            <div class="item-form-inputs small">
              <input name="data.range.melee" type="number" value="{{data.range.melee}}" data-dtype="Number" />
            </div>
          </div>
          <div class="item-form-group static">
            <label>{{localize "WEAPON.THROWN"}} S x </label>
            <div class="item-form-inputs small">
              <input name="data.range.thrown" type="number" value="{{data.range.thrown}}" data-dtype="Number" />
            </div>
          </div>
        </div>
        {{/if}}
        <div class="wrapper">
          <div class="damage-header">
            <b class="spacer"></b>
            <b class="base">{{localize "DIALOG.BASE"}}</b>
            <b class="rank">{{localize "DIALOG.RANK"}}</b>
            <b class="modifier">{{localize "DIALOG.BONUS"}}</b>
          </div>
          <div class="item-form-group fixed">
            <label>{{localize "WEAPON.DAMAGE"}}</label>
            <div class="item-form-inputs">
              <input name="data.damage.base" class="base" type="number" value="{{data.damage.base}}"
              data-dtype="Number" />
              <select name="data.damage.rank" class="rank">
                {{#select data.damage.rank}}
                <option value="none">{{localize "RANK.NONE"}}</option>
                <option value="single">{{localize "RANK.SINGLE"}}</option>
                <option value="double">{{localize "RANK.DOUBLE"}}</option>
                {{/select}}
              </select>
              <input name="data.damage.bonus" class="modifier" type="number" value="{{data.damage.bonus}}" data-dtype="Number" />
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="item-form-group fixed">
            <label>{{localize "WEAPON.ED"}}</label>
            <div class="item-form-inputs">
              <input name="data.ed.base" class="base" type="number" value="{{data.ed.base}}" data-dtype="Number" />
              <select name="data.ed.rank" class="rank">
                {{#select data.ed.rank}}
                <option value="none">{{localize "RANK.NONE"}}</option>
                <option value="single">{{localize "RANK.SINGLE"}}</option>
                <option value="double">{{localize "RANK.DOUBLE"}}</option>
                {{/select}}
              </select>
              <input name="data.ed.bonus" class="modifier" type="number" value="{{data.ed.bonus}}" data-dtype="Number" />
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="item-form-group fixed">
            <label>{{localize "WEAPON.AP"}}</label>
            <div class="item-form-inputs">
              <input name="data.ap.base" class="base" type="number" value="{{data.ap.base}}" data-dtype="Number" />
              <select name="data.ap.rank" class="rank">
                {{#select data.ap.rank}}
                <option value="none">{{localize "RANK.NONE"}}</option>
                <option value="single">{{localize "RANK.SINGLE"}}</option>
                <option value="double">{{localize "RANK.DOUBLE"}}</option>
                {{/select}}
              </select>
              <input name="data.ap.bonus" class="modifier" type="number" value="{{data.ap.bonus}}" data-dtype="Number" />
            </div>
          </div>
        </div>

        <div class="wrapper">
          <div class="item-form-group stacked">
            <label>{{localize "WEAPON.TRAITS"}}<a class="item-traits"><i class="fas fa-cog"></i></a></label>            
            <div class="item-form-inputs">
              <input disabled type="text" value="{{item.Traits}}" />
            </div>
          </div>
        </div>

        <div class="wrapper">
          <div class="item-form-group static">
            <label>{{localize "WEAPON.VALUE"}}</label>
            <div class="item-form-inputs small">
              <input name="data.value" type="number" value="{{data.value}}" data-dtype="Number" />
            </div>
          </div>
          <div class="item-form-group static">
            <label>{{localize "WEAPON.RARITY"}}</label>
            <div class="item-form-inputs">
              <select name="data.rarity">
                {{#select data.rarity}}
                <option value=""> - </option>
                {{#each (config "rarity") as |rarity r|}}
                <option value="{{r}}">{{rarity}}</option>
                {{/each}}
                {{/select}}
              </select>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="item-form-group">
            <label>{{localize "WEAPON.KEYWORDS"}}</label>
            <div class="item-form-inputs">
              <input name="data.keywords" type="text" value="{{data.keywords}}" />
            </div>
          </div>
        </div>

        <div class="item-list">
          <div class="header">
            <div class="item-property item-image"></div>
            <span class="item-property item-name">{{localize "HEADER.UPGRADES"}}</span>
            <div class="item-controls">
            </div>
          </div>
          {{#each item.upgrades as |upgrade u|}}
          <div class="item" data-index="{{u}}">
            <div class="item-content">
                <img class="item-property item-image" src="{{upgrade.img}}"></img>
                <div class="item-property item-name upgrade-name">{{upgrade.name}}</div>
                
                <div class="item-property flex"></div>
                <div class="item-controls">
                  <a class="item-control upgrade-delete" title="Delete Upgrade"><i class="fas fa-times"></i></a>
                </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>

      <div class="tab" data-group="primary" data-tab="effects">
        {{> systems/wrath-and-glory/template/item/tab/effects.html}}
      </div>
    </div>
  </div>
</form>