@mixin editor-text {

    p {
        font-family: var(--font-text);
        font-size: 14px;
        color: var(--color-text);
    }

    a.keyword {
        color: var(--color-imperium);
        text-transform: uppercase;
        font-weight: bold
    }

    a.keyword:hover {
        text-shadow: none;
    }

    h1 {
        font-family: var(--font-header);
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        border: none;
        font-weight: bold;
        color: var(--color-black);
    }

    h2 {
        font-family: var(--font-header);
        text-transform: uppercase;
        font-size: 36px;
        color: var(--color-header);
        width: fit-content;
        border-bottom: 8px solid transparent;
        border-image: var(--image-title-border) 8 8 8 8 repeat repeat;
        font-weight: bold;
        white-space: nowrap;
    }

    h2::after {
        display: inline-block;
        margin-bottom: -17px;
        margin-right: -45px;
        content: "";
        height: 11px;
        width: 51px;
        background: url(./assets/image/wingtip.webp);
        background-size: contain;
    }

    h3,
    h3,
    h3 {
        font-family: var(--font-header);
        font-size: 30px;
        text-transform: uppercase;
        border-bottom: 3px solid var(--color-header);
        color: var(--color-header);
        font-weight: bold;
    }

    .sidebar h3,
    .sidebar h3 {
        font-family: var(--font-text);
        text-align: center;
        text-transform: uppercase;
        border: none;
        font-weight: bold;
        color: var(--color-subheader)
    }

    h4,
    h4,
    h4 {
        font-family: var(--font-header);
        border: none;
        font-weight: bold;
        font-size: 28px;
        font-variant: small-caps;
        font-weight: bold;
        color: var(--color-subheader)
    }

    h5,
    h5,
    h5 {
        font-family: var(--font-header);
        border: none;
        font-weight: bold;
        font-size: 22px;
        font-weight: bold;
        color: var(--color-subheader);
        margin: 0 0 0.5rem
    }

    .sidebar {
        margin: 1rem;
        background: url(./assets/image/journal-sidebar.webp) 0px 100% repeat;
        border: 10px solid transparent;
        border-left: 0px;
        border-right: 0px;
        border-image: url(./assets/image/sidebar-journal-border.webp) 30 0 repeat;
        box-shadow: inset 0px 0px 5px black;
        padding: 10px;
    }

    blockquote.sidebar {
        em {
            font-style: normal;
        }
    }

    table {
        background: none;

        .table-header {

            text-align: center;
            background-color: #752322;
            color: #ddd;
            font-size: 16px;
            
        text-transform: uppercase;
        font-weight: bold;


            a.content-link {
                color: #ddd;
    
                i {
                    color: #ddd;
                }
            } 

            &.aeldari {
                    background-color: var(--color-aeldari);
                }
            &.ork {
                    background-color: var(--color-ork);
                }
            &.chaos {
                    background-color: var(--color-chaos);
                }
            &.necron {
                    background-color: black
                }
            &.drukhari {
                    background-color: #3a002c
                }
        }

        tr:nth-child(even)
        {
            background-color: rgba(255, 255, 255, 0.2);
        }

        
        tr.table-col-header {
            background-color: #484746;
            color: #ddd;
        }
    }


}