.wrath-and-glory.chat {
  color: var(--color-black);
  font-family: var(--font-text);
  font-size: 12px;
  line-height: 16px;
  padding: 5px;
}

.wrath-and-glory.chat .wrapper {
  background: url(../../asset/image/background.jpg) repeat;
  padding: 10px;
}

.wrath-and-glory.chat .wrapper-input {
  background: url(../../asset/image/input.jpg) repeat;
  padding: 10px;
  border: 1px solid var(--color-black);
  box-shadow: inset 0 0 6px var(--color-dark-grey);
  position: relative;
}

.wrath-and-glory.chat strong {
  font-family: var(--font-text);
  font-weight: bold;
  font-size: 14px;
}

.wrath-and-glory.chat h3 {
  color: var(--color-red);
  font-family: var(--font-text);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-style: solid;
  border-width: 0px 8px 8px 8px;
  border-image: var(--image-title-border) 8 8 8 8 repeat repeat;
}

.wrath-and-glory.chat h4 {
  color: var(--color-black);
  font-family: var(--font-text);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.wrath-and-glory.chat.item img {
  display: block;
  margin: 0 auto 8px;
  max-height: 64px;
  width: auto;
  border: 8px solid transparent;
  border-image: var(--image-border) 8 8 8 8 repeat repeat;
}

.wrath-and-glory.chat.roll img {
  border: none;
  border-radius: 0;
}

.wrath-and-glory.chat.roll .seal {
  border: none;
  border-radius: 0;
  position: absolute;
  right: -12px;
  top: -40px;
  width: 100px;
  height: 100px;
  background-size: 100px;
}

.wrath-and-glory.chat.roll .seal.approved {
  background-image: url("../../asset/image/approved.png");
}

.wrath-and-glory.chat.roll .seal.heresy {
  background-image: url("../../asset/image/heresy.png");
}

.wrath-and-glory.chat p {
  margin: 0 0 4px;
}

.wrath-and-glory.chat .die {
  width: 50px;
  height: 50px;
  background-size: 50px;
  display: inline-block;
}

.wrath-and-glory.chat .die.failed {
  background-image: url("../../asset/image/die-failed.png");
}

.wrath-and-glory.chat .die.success {
  background-image: url("../../asset/image/die-success.png");
}

.wrath-and-glory.chat .die.icon {
  background-image: url("../../asset/image/die-icon.png");
}

.wrath-and-glory.chat .die.wrath-complication {
  background-image: url("../../asset/image/die-wrath-complication.png");
}

.wrath-and-glory.chat .die.wrath-critical {
  background-image: url("../../asset/image/die-wrath-critical.png");
}

.wrath-and-glory.chat .die.wrath-failed {
  background-image: url("../../asset/image/die-wrath-failed.png");
}

.wrath-and-glory.chat .die.wrath-success {
  background-image: url("../../asset/image/die-wrath-success.png");
}