 <div class="wrath-and-glory chat roll">
        {{> systems/wrath-and-glory/template/chat/roll/base/base-roll.hbs}}
        <div class="wrapper-input">
                <p><strong class="red">{{localize "ATTRIBUTE.INITIATIVE"}}</strong><strong>: {{result.initiative}} </strong></p>
        </div>
</div>