<div class="wrath-and-glory chat roll">
        {{> systems/wrath-and-glory/templates/chat/roll/base/base-roll.hbs}}

        <div class="wrapper-input">
                {{> systems/wrath-and-glory/templates/chat/roll/power/power-result.hbs}}
        </div>
        {{> systems/wrath-and-glory/templates/chat/roll/power/power-buttons.hbs}}
</div>