<div class="combat">
  <div class="general wrapper">
    <h1>{{localize "TITLE.GENERAL"}}</h1>
    <div class="wrapper-item">
      <label style="cursor: default;">{{localize "HEADER.DEFENCE"}}</label>
      <input type="number" name="data.combat.defence.total" value="{{data.combat.defence.total}}" data-dtype="Number" {{#if autoCalc.defence}}disabled{{/if}} />
    </div>
    <div class="wrapper-item">
      <label style="cursor: default;">{{localize "HEADER.RESILIENCE"}}</label>
      <input type="number" name="data.combat.resilience.total" value="{{data.combat.resilience.total}}" data-dtype="Number" {{#if autoCalc.resilience}}disabled{{/if}} />
    </div>
    <div class="wrapper-item">
      <label style="cursor: default;">{{localize "HEADER.SHOCK"}}</label>
      <div class="input-group">
        <input style="flex-basis: 20%;" name="data.combat.shock.value" type="number" value="{{data.combat.shock.value}}" data-dtype="Number" />
        <input style="flex-basis: 20%;" type="number" name="data.combat.shock.max" value="{{data.combat.shock.max}}" data-dtype="Number" {{#if autoCalc.shock}}disabled{{/if}} />
      </div>
    </div>
    <div class="wrapper-item">
      <label style="cursor: default;">{{localize "HEADER.AWARENESS"}}</label>
      <input type="number" name="data.combat.passiveAwareness.total" value="{{data.combat.passiveAwareness.total}}" data-dtype="Number" {{#if autoCalc.passiveAwareness}}disabled{{/if}} />
    </div>
    <div class="wrapper-item">
      <label class="roll-skill hover" data-skill="stealth">{{localize "HEADER.STEALTH_SCORE"}}</label>
      <input disabled type="number" value="{{data.skills.stealth.total}}" data-dtype="Number" />
    </div>
    <div class="wrapper-item">
      <label style="cursor: default;">{{localize "HEADER.SIZE"}}</label>
      <select name="data.combat.size">
        {{#select data.combat.size}}
        <option value="tiny">{{localize "SIZE.TINY"}}</option>
        <option value="small">{{localize "SIZE.SMALL"}}</option>
        <option value="average">{{localize "SIZE.AVERAGE"}}</option>
        <option value="large">{{localize "SIZE.LARGE"}}</option>
        <option value="huge">{{localize "SIZE.HUGE"}}</option>
        <option value="gargantuan">{{localize "SIZE.GARGANTUAN"}}</option>
        {{/select}}
      </select>
    </div>
    <div class="wrapper-item">
      <label style="cursor: default;">{{localize "HEADER.SPEED"}}</label>
      <input name="data.combat.speed" type="number" value="{{data.combat.speed}}" data-dtype="Number" />
      <label style="cursor: default;">{{localize "HEADER.FLY"}}</label>
      <input name="data.combat.fly" type="number" value="{{data.combat.fly}}" data-dtype="Number" />
    </div>
  </div>
  <div class="injuries wrapper">
    <h1>{{localize "TITLE.INJURIES"}}</h1>
    <div class="wrapper-item">
      <label class="roll-determination hover">{{localize "HEADER.DETERMINATION"}}</label>
      <input type="number" name="data.combat.determination.total" value="{{data.combat.determination.total}}" data-dtype="Number" {{#if autoCalc.determination}}disabled{{/if}} />
    </div>
    <div class="wrapper-item">
      <label style="cursor: default;">{{localize "HEADER.WOUNDS"}}</label>
      <div class="input-group">
        <input style="flex-basis: 20%;" name="data.combat.wounds.value" type="number" value="{{data.combat.wounds.value}}" data-dtype="Number" />
        <input style="flex-basis: 20%;" type="number" name="data.combat.wounds.max" value="{{data.combat.wounds.max}}" data-dtype="Number" {{#if autoCalc.wounds}}disabled{{/if}} />
      </div>
    </div>
    <div class="injury-lists">
      <div class="item-list condensed">
        <div class="header">
          <span class="item-property item-name">{{localize "HEADER.TRAUMATIC"}}</span>
          <div class="item-controls">
            <a class="item-create" title="Create Item" data-type="traumaticInjury"><i class="fas fa-plus"></i></a>
          </div>
        </div>
        {{#each items.traumaticInjuries as |item|}}
        <div class="item" data-item-id="{{item.id}}">
          <div class="item-content  ">
              <div class="item-property item-edit item-name">{{item.name}}</div>
              <div class="item-controls">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-times"></i></a>
              </div>
        </div>
        </div>
        {{/each}}
      </div>
        <div class="item-list condensed">
          <div class="header">
            <span class="item-property item-name">{{localize "HEADER.MEMORABLE"}}</span>
            <div class="item-controls">
              <a class="item-create" title="Create Item" data-type="memorableInjury"><i class="fas fa-plus"></i></a>
            </div>
          </div>
          {{#each items.memorableInjuries as |item|}}
          <div class="item" data-item-id="{{item.id}}">
            <div class="item-content">
                <div class="item-property item-edit item-name">{{item.name}}</div>
                <div class="item-controls">
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-times"></i></a>
                </div>
          </div>
          </div>
          {{/each}}
      </div>
  </div>
  </div>
  <div class="mutation wrapper">
    <h1>{{localize "TITLE.MUTATIONS"}}</h1>
    <div class="wrapper-item">
      <label class="roll-conviction hover">{{localize "HEADER.CONVICTION"}}</label>
      <input type="number" name="data.combat.conviction.total" value="{{data.combat.conviction.total}}" data-dtype="Number" {{#if autoCalc.conviction}}disabled{{/if}} />
    </div>
    <div class="wrapper-item">
      <label class="roll-resolve hover">{{localize "HEADER.RESOLVE"}}</label>
      <input type="number" name="data.combat.resolve.total" value="{{data.combat.resolve.total}}" data-dtype="Number" {{#if autoCalc.resolve}}disabled{{/if}}/>
    </div>
    <div class="wrapper-item">
      <label style="cursor: default;">{{localize "HEADER.CORRUPTION"}}</label>
      <input name="data.corruption.current" type="number" value="{{data.corruption.current}}" data-dtype="Number" />
    </div>
    <div class="mutations">
      <div class="item-list condensed">
        <div class="header">
          <span class="item-property item-name">{{localize "HEADER.MUTATION"}}</span>
          <div class="item-controls">
            <a class="item-create" title="Create Item" data-type="mutation"><i class="fas fa-plus"></i></a>
          </div>
        </div>
        {{#each items.mutations as |item|}}
        <div class="item" data-item-id="{{item.id}}">
          <div class="item-content">
              <div class="item-property item-edit item-name">{{item.name}}</div>
              <div class="item-controls">
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-times"></i></a>
              </div>
        </div>
        </div>
        {{/each}}
      </div>
    </div>
    {{#if (eq actor.type "agent")}}
      <div class="faith wrapper-item">
        <label>{{localize "RESOURCE.FAITH"}}</label>
        <input name="data.resources.faith.current" type="number" value="{{data.resources.faith.current}}" data-dtype="Number" />
        <input name="data.resources.faith.total" type="number" value="{{data.resources.faith.total}}" data-dtype="Number" />
      </div>
    {{/if}}
  </div>
  <div class="wargear wrapper">
    <h1>{{localize "TITLE.WARGEAR"}}</h1>
    <div class="pointer-enable wrapper">
        {{#if items.equipped.weapons.length}}
        <div class="item-list">
        <div class="header">
          <div class="item-property item-image"></div>
          <span class="item-property item-name">{{localize "HEADER.WEAPON"}}</span>
          <span class="item-property">{{localize "WEAPON.DAMAGE"}}</span>
          <span class="item-property small">{{localize "WEAPON.ED"}}</span>
          <span class="item-property small">{{localize "WEAPON.AP"}}</span>
          <span class="item-property">{{localize "WEAPON.RANGE"}}</span>
          <span class="item-property flex">{{localize "HEADER.AMMO"}}</span>
        </div>
        {{#each items.equipped.weapons as |item|}}
        <div class="item" data-item-id="{{item.id}}">
          <div class="item-content roll-weapon item-dropdown-right">
              <img class="item-property item-image" src="{{item.img}}"></img>
              <div class="item-property item-name">{{item.name}}</div>
              
              <div class="item-property">{{item.Damage}}</div>
              <div class="item-property small">{{item.ED}}</div>
              <div class="item-property small">{{item.AP}}</div>
              <div class="item-property">{{item.Range}}</div>
              <div class="item-property flex">
                {{#if item.isRanged}}
                <select class="property-edit" data-target="data.ammo">
                  {{#select item.ammo}}
                  <option value="">-</option>
                  {{#each item.ammoList as |item|}}
                  <option value="{{item.id}}">{{item.name}} ({{item.quantity}})</option>
                  {{/each}}
                  {{/select}}
                </select>
                {{/if}}
              </div>
          </div>
          {{#if item.traits.length}}
          <div class="item-content-extra">
            <span class="item-traits"><b>Traits:</b> {{{array item.Traits "item-trait"}}}</span>
          </div>
          {{/if}}
        </div>
        {{/each}}
      </div>
      {{/if}}

      {{#if items.equipped.ammo.length}}
      <div class="item-list">
        <div class="header">
          <div class="item-property item-image"></div>
          <span class="item-property item-name">{{localize "HEADER.AMMO"}}</span>
          <span class="item-property">{{localize "ITEM.QTY"}}</span>
        </div>
        {{#each items.equipped.ammo as |item|}}
        <div class="item" data-item-id="{{item.id}}">
          <div class="item-content">
              <img class="item-property item-image" src="{{item.img}}"></img>
              <div class="item-property item-name item-dropdown">{{item.name}}</div>         
              <div class="item-property qty-click">
                <button type="button" class="qty-click" data-type="decrement">-</button>
                {{item.quantity}}
                <button type="button" class="qty-click" data-type="increment">+</button>
              </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{/if}}


      {{#if items.equipped.armour.length}}
      <div class="item-list">
        <div class="header">
          <div class="item-property item-image"></div>
          <span class="item-property item-name">{{localize "HEADER.ARMOUR"}}</span>
          <span class="item-property">{{localize "ARMOUR.RATING"}}</span>
          <span class="item-property flex large">{{localize "ARMOUR.TRAITS"}}</span>
        </div>
        {{#each items.equipped.armour as |item|}}
        <div class="item" data-item-id="{{item.id}}">
          <div class="item-content item-dropdown">
              <img class="item-property item-image" src="{{item.img}}"></img>
              <div class="item-property item-name">{{item.name}}</div>
              <div class="item-property">{{item.rating}}</div>
              <div class="item-property flex large">{{{array item.Traits "item-trait"}}}</div>
          </div>
        </div>
        {{/each}}
      </div>
      {{/if}}

      {{#if items.psychicPowers.length}}
      <div class="item-list">
        <div class="header">
          <div class="item-property item-image"></div>
          <span class="item-property item-name">{{localize "HEADER.PSYCHIC_POWER"}}</span>
          <span class="item-property small">{{localize "PSYCHIC_POWER.DN"}}</span>
          <span class="item-property">{{localize "PSYCHIC_POWER.ACTIVATION"}}</span>
          <span class="item-property">{{localize "PSYCHIC_POWER.DURATION"}}</span>
          <span class="item-property">{{localize "PSYCHIC_POWER.RANGE"}}</span>
          <span class="item-property">{{localize "PSYCHIC_POWER.MULTI_TARGET"}}</span>
        </div>
        {{#each items.psychicPowers as |item|}}
        <div class="item" data-item-id="{{item.id}}">
          <div class="item-content roll-psychic-power item-dropdown-right">
              <img class="item-property item-image" src="{{item.img}}"></img>
              <div class="item-property item-name">{{item.name}}</div>
              <div class="item-property small">{{item.dn}}</div>
              <div class="item-property">{{item.Activation}}</div>
              <div class="item-property">{{item.duration}}</div>
              <div class="item-property">{{item.range}}</div>
              <div class="item-property">{{item.MultiTarget}}</div>
          </div>
        </div>
        {{/each}}
      </div>
      {{/if}}

      {{#if items.abilitiesAndTalents.length}}
      <div class="item-list">
        <div class="header">
          <div class="item-property item-image"></div>
          <span class="item-property item-name">{{localize "HEADER.ABILITY"}}</span>
          <span class="item-property flex large">{{localize "HEADER.DESCRIPTION"}}</span>
      </div>
        {{#each items.abilitiesAndTalents as |item|}}
        {{#if item.display}}
        <div class="item" data-item-id="{{item.id}}">
          <div class="item-content">
              {{#if item.abilityType}}
              <div class="ability-type" title="{{configLookup 'abilityTypeDescriptions' item.abilityType}}">{{configLookup "abilityTypeAbbrev" item.abilityType}}</div>
              {{/if}}
              <img class="item-property item-image" src="{{item.img}}"></img>
              <div class="item-property item-name {{#if item.rollable}}rollable{{else}}item-dropdown{{/if}}">{{item.name}}</div>
          <span class="item-property item-dropdown flex large long-text">{{{enrich item.description}}}</span>
        </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
      {{/if}}
    </div>
  </div>
</div>
