<div class="notes-tab">
  <div class="wrapper advances">
    <h1 style="margin-bottom: 8px;">{{localize "TITLE.ADVANCES"}}</h1>
    <div class="advances-fields">
      <div class="tier">
        <label>{{localize "ADVANCE.TIER"}}</label>
        <input class="current" name="data.advances.tier" type="number" value="{{data.advances.tier}}" min="1" max="5"
          data-dtype="Number" />

      </div>
      <div class="rank">
        <label>{{localize "ADVANCE.RANK"}}</label>
        <input class="current" name="data.advances.rank" type="number" value="{{data.advances.rank}}" min="1" max="4"
          data-dtype="Number" />
      </div>
      <div class="species">
        <label>{{localize "BIO.ARCHETYPE"}}</label>
        <input class="cost" name="data.advances.species" type="number" value="{{data.advances.species}}" min="0"
          data-dtype="Number" />
      </div>
      <div class="experience">
        <div class="header">
          <b></b>
          <b class="current">{{localize "HEADER.CURRENT"}}</b>
          <b class="spent">{{localize "HEADER.SPENT"}}</b>
          <b class="total">{{localize "HEADER.TOTAL"}}</b>
        </div>
        <div class="data">
          <label>{{localize "RESOURCE.EXPERIENCE"}}</label>
          <input class="current" type="number" value="{{data.experience.current}}" data-dtype="Number" disabled/>
          <input class="spent" type="number" value="{{data.experience.spent}}" data-dtype="Number" disabled />
          <input class="total" type="number" name="data.experience.total" value="{{data.experience.total}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper details">
    <h1 style="margin-bottom: 8px;">{{localize "TITLE.DETAILS"}}</h1>
    <div class="form-row cosmetic">
      <div class="form-field">
        <label>{{localize "BIO.HEIGHT"}}</label>
        <input name="data.bio.height" type="text" value="{{data.bio.height}}" />
      </div>
      <div class="form-field">
        <label>{{localize "BIO.EYE_COLOUR"}}</label>
        <input name="data.bio.eye" type="text" value="{{data.bio.eye}}" />
      </div>
      <div class="form-field">
        <label>{{localize "BIO.HAIR_COLOUR"}}</label>
        <input name="data.bio.hair" type="text" value="{{data.bio.hair}}" />
      </div>
    </div>
  <div class="form-row background">
    <div class="form-field">
      <label>{{localize "BIO.ORIGIN"}}</label>
      <input name="data.bio.origin.value" type="text" value="{{data.bio.origin.value}}" />
      <input class="bg-bonus" name="data.bio.origin.bonus" type="text" value="{{data.bio.origin.bonus}}" />
    </div>
  </div>
  <div class="form-row background">
    <div class="form-field">
      <label>{{localize "BIO.ACCOMPLISHMENT"}}</label>
      <input name="data.bio.accomplishment.value" type="text" value="{{data.bio.accomplishment.value}}" />
      <input class="bg-bonus" name="data.bio.accomplishment.bonus" type="text" value="{{data.bio.accomplishment.bonus}}" />
    </div>
  </div>
  <div class="form-row background">
    <div class="form-field">
      <label>{{localize "BIO.GOAL"}}</label>
      <input name="data.bio.goal.value" type="text" value="{{data.bio.goal.value}}" />
      <input class="bg-bonus" name="data.bio.goal.bonus" type="text" value="{{data.bio.goal.bonus}}" />
    </div>
</div>
<hr>
<div class="form-row">
  <div class="form-field">
    <label>{{localize "BIO.OBJECTIVE"}}</label>
    <input name="data.bio.obective" type="text" value="{{data.bio.obective}}" />
  </div>
</div>
</div>
<div class="wrapper" style="margin-top: 8px;">
  <h1>{{localize "TITLE.ASCENSION"}}</h1>
  <div class="item-row">
    <div class="button">
      <button class="item-create" title="Add Ascension" data-type="ascension">+</a>
    </div>
    {{#each items.ascensions as |item|}}
    <div class="item" data-item-id="{{item.id}}">
      <div class="wrapper-hover">
        <div class="avatar" style="background-image: url('{{item.img}}')"></div>
        <div class="name item-edit">{{item.name}}</div>
      </div>
      <div class="button item-control item-delete" title="Delete Ascension Package">
        <a><i class="fas fa-times"></i></a>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<div class="wrapper notes">
  <h1 style="margin-bottom: 8px;">{{localize "TITLE.NOTES"}}</h1>
  {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
</div>
</div>