<form class="{{cssClass}}" autocomplete="off">
  <div class="weapon">
    <div class="sheet-header">
      <div class="avatar">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
      </div>
      <div class="bio">
        <div class="wrapper-row">
          <div class="name">
            <label>{{localize "WEAPON.NAME"}}</label>
            <input name="name" type="text" value="{{item.name}}" />
          </div>
        </div>
      </div>
    </div>

    <div class="sheet-tabs tabs" data-group="primary">
      <b class="item" data-tab="description">{{localize "TAB.DESCRIPTION"}}</b>
      <b class="item" data-tab="stats">{{localize "TAB.STATS"}}</b>
      <b class="item" data-tab="bonus">{{localize "TAB.BONUS"}}</b>
    </div>

    <div class="sheet-body">
      <div class="tab" data-group="primary" data-tab="description">
        <div class="description">
          {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>
      </div>
      <div class="tab" data-group="primary" data-tab="stats">
        <div class="wrapper">
          <div class="category">
            <label>{{localize "WEAPON.CATEGORY"}}</label>
            <select name="data.category">
              {{#select data.category}}
              <option value="melee">{{localize "CATEGORY.MELEE"}}</option>
              <option value="ranged">{{localize "CATEGORY.RANGED"}}</option>
              {{/select}}
            </select>
          </div>
        </div>
        <div class="wrapper">
          <div class="salvo">
            <label>{{localize "WEAPON.SALVO"}}</label>
            <input name="data.salvo" type="number" value="{{data.salvo}}" data-dtype="Number" />
          </div>
          <div class="range">
            <label>{{localize "WEAPON.RANGE"}}</label>
            <input name="data.range.short" type="number" value="{{data.range.short}}" data-dtype="Number" />
            <input name="data.range.medium" type="number" value="{{data.range.medium}}" data-dtype="Number" />
            <input name="data.range.long" type="number" value="{{data.range.long}}" data-dtype="Number" />
          </div>
        </div>
        <div class="wrapper">
          <div class="header">
            <b class="name"></b>
            <b class="base">{{localize "DIALOG.BASE"}}</b>
            <b class="rank">{{localize "DIALOG.RANK"}}</b>
            <b class="modifier">{{localize "DIALOG.BONUS"}}</b>
          </div>
        </div>
        <div class="wrapper">
          <div class="attack">
            <label>{{localize "WEAPON.ATTACK"}}</label>
            <input name="data.attack.base" class="base" type="number" value="{{data.attack.base}}"
              data-dtype="Number" />
            <select name="data.attack.rank" class="rank">
              {{#select data.attack.rank}}
              <option value="none">{{localize "RANK.NONE"}}</option>
              <option value="single">{{localize "RANK.SINGLE"}}</option>
              <option value="double">{{localize "RANK.DOUBLE"}}</option>
              {{/select}}
            </select>
            <input name="data.attack.bonus" class="modifier" type="number" value="{{data.attack.bonus}}" data-dtype="Number" />
          </div>
        </div>
        <div class="wrapper">
          <div class="damage">
            <label>{{localize "WEAPON.DAMAGE"}}</label>
            <input name="data.damage.base" class="base" type="number" value="{{data.damage.base}}"
              data-dtype="Number" />
            <select name="data.damage.rank" class="rank">
              {{#select data.damage.rank}}
              <option value="none">{{localize "RANK.NONE"}}</option>
              <option value="single">{{localize "RANK.SINGLE"}}</option>
              <option value="double">{{localize "RANK.DOUBLE"}}</option>
              {{/select}}
            </select>
            <input name="data.damage.bonus" class="modifier" type="number" value="{{data.damage.bonus}}" data-dtype="Number" />
          </div>
        </div>
        <div class="wrapper">
          <div class="ed">
            <label>{{localize "WEAPON.ED"}}</label>
            <input name="data.ed.base" class="base" type="number" value="{{data.ed.base}}" data-dtype="Number" />
            <select name="data.ed.rank" class="rank">
              {{#select data.ed.rank}}
              <option value="none">{{localize "RANK.NONE"}}</option>
              <option value="single">{{localize "RANK.SINGLE"}}</option>
              <option value="double">{{localize "RANK.DOUBLE"}}</option>
              {{/select}}
            </select>
            <input name="data.ed.bonus" class="modifier" type="number" value="{{data.ed.bonus}}" data-dtype="Number" />
          </div>
        </div>
        <div class="wrapper">
          <div class="ap">
            <label>{{localize "WEAPON.AP"}}</label>
            <input name="data.ap.base" class="base" type="number" value="{{data.ap.base}}" data-dtype="Number" />
            <select name="data.ap.rank" class="rank">
              {{#select data.ap.rank}}
              <option value="none">{{localize "RANK.NONE"}}</option>
              <option value="single">{{localize "RANK.SINGLE"}}</option>
              <option value="double">{{localize "RANK.DOUBLE"}}</option>
              {{/select}}
            </select>
            <input name="data.ap.bonus" class="modifier" type="number" value="{{data.ap.bonus}}" data-dtype="Number" />
          </div>
        </div>
        <div class="wrapper">
          <div class="header">
            <b class="name"></b>
            <b class="die">1</b>
            <b class="die">2</b>
            <b class="die">3</b>
            <b class="die">4</b>
            <b class="die">5</b>
            <b class="die">6</b>
          </div>
        </div>
        <div class="wrapper">
          <div class="die-value">
            <label class="name">{{localize "WEAPON.DIE_VALUE"}}</label>
            <input name="data.ed.die.one" type="number" value="{{data.ed.die.one}}" data-dtype="Number" />
            <input name="data.ed.die.two" type="number" value="{{data.ed.die.two}}" data-dtype="Number" />
            <input name="data.ed.die.three" type="number" value="{{data.ed.die.three}}" data-dtype="Number" />
            <input name="data.ed.die.four" type="number" value="{{data.ed.die.four}}" data-dtype="Number" />
            <input name="data.ed.die.five" type="number" value="{{data.ed.die.five}}" data-dtype="Number" />
            <input name="data.ed.die.six" type="number" value="{{data.ed.die.six}}" data-dtype="Number" />
          </div>
        </div>
        <div class="wrapper">
          <div class="traits">
            <label>{{localize "WEAPON.TRAITS"}}</label>
            <input name="data.traits" type="text" value="{{data.traits}}" />
          </div>
        </div>
        <div class="wrapper">
          <div class="value">
            <label>{{localize "WEAPON.VALUE"}}</label>
            <input name="data.value" type="number" value="{{data.value}}" data-dtype="Number" />
          </div>
          <div class="rarity">
            <label>{{localize "WEAPON.RARITY"}}</label>
            <select name="data.rarity">
              {{#select data.rarity}}
              <option value="common">{{localize "RARITY.COMMON"}}</option>
              <option value="uncommon">{{localize "RARITY.UNCOMMON"}}</option>
              <option value="rare">{{localize "RARITY.RARE"}}</option>
              <option value="very-rare">{{localize "RARITY.VERY_RARE"}}</option>
              <option value="unique">{{localize "RARITY.UNIQUE"}}</option>
              {{/select}}
            </select>
          </div>
        </div>
        <div class="wrapper">
          <div class="keywords">
            <label>{{localize "WEAPON.KEYWORDS"}}</label>
            <input name="data.keywords" type="text" value="{{data.keywords}}" />
          </div>
        </div>
        <div class="wrapper" style="flex-wrap: wrap; justify-content: center;">
          <h1>{{localize "TITLE.UPGRADES"}}</h1>
          <div class="upgrades" style="flex-basis: 100%; margin-top: 8px">
            {{editor content=data.upgrades target="data.upgrades" button=true owner=owner editable=editable}}
          </div>
        </div>
      </div>
      <div class="tab" data-group="primary" data-tab="bonus">
        {{> systems/wrath-and-glory/template/sheet/tab/bonus.html}}
      </div>
    </div>
  </div>
</form>