.wrath-and-glory.sheet.actor .gear.active {
  display: flex;
  flex-direction: column;
  height: 100%;

  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;

    .wealth,
    .influence {
      display: flex;
      flex-direction: row;

      label {
        width: 70px;
      }

      input {
        width: 50px;
      }
    }

    .gear-list {
      pointer-events: none;
    }

  }

  .wrapper.influence-wealth {
    margin-bottom: -30px;
    justify-content: space-between;
    flex-basis: unset;
  }
}