
.wrath-and-glory.sheet.actor .tab[data-tab="notes"] {
  height: 100%;
  overflow: hidden;
}

.wrath-and-glory.sheet.actor .notes-tab h1{
  width: 150px;
}

.wrath-and-glory.sheet.actor .notes-tab {
  display: flex;
  flex-direction: column;
  height: 100%
}

.wrath-and-glory.sheet.actor .notes-tab .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;

}

.wrath-and-glory.sheet.actor.threat .notes-tab .wrapper.notes {
  height:100%
}


.wrath-and-glory.sheet.actor .notes-tab  .editor,
.wrath-and-glory.sheet.actor .notes-tab  .editor-content {
  height: calc(100% - 220px);
  width: 100%;
  background: url(./../asset/image/input.webp) repeat;
  box-shadow: inset 0 0 6px var(--color-dark-grey);
}

.wrath-and-glory.sheet.actor.threat .notes-tab .editor,
.wrath-and-glory.sheet.actor.threat .notes-tab .editor-content {
  height: 100%;
  width: 100%;
  background: url(./../asset/image/input.webp) repeat;
  box-shadow: inset 0 0 6px var(--color-dark-grey);
}

.wrath-and-glory.sheet.actor.threat .notes-tab .wrapper .editor-content {
  height: 100%;
}

.wrath-and-glory.sheet.actor .notes-tab .wrapper .editor-content {
  padding: 8px;
  color: var(--color-black);
}


.wrath-and-glory.sheet.actor .notes-tab .wrapper.advances {
  display: flex;
  flex-direction: column;
  margin-top: 0px
}




.wrath-and-glory.sheet.actor .advances-fields {
  display: flex;
  align-items: center;
  line-height: normal;
  justify-content: space-evenly;
  width: 100%;
}

.wrath-and-glory.sheet.actor .advances-fields .tier,
.wrath-and-glory.sheet.actor .advances-fields .rank,
.wrath-and-glory.sheet.actor .advances-fields .archetype {
  display: flex;
  flex-direction: row;
  width: 8 0px;
  text-align: center;
  justify-content: space-evenly;
}

.wrath-and-glory.sheet.actor .advances-fields .archetype {
  width: 150px;
}


.wrath-and-glory.sheet.actor .advances-fields .tier label,
.wrath-and-glory.sheet.actor .advances-fields .rank label,
.wrath-and-glory.sheet.actor .advances-fields .archetype label {
  flex-basis: 57%;
  cursor: default;
}

.wrath-and-glory.sheet.actor .advances-fields .tier .current,
.wrath-and-glory.sheet.actor .advances-fields .rank .current,
.wrath-and-glory.sheet.actor .advances-fields .archetype .cost {
  flex-basis: 43%;
}

.wrath-and-glory.sheet.actor .advances-fields .experience {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  text-align: center;
  margin-top: -20px;
}

.wrath-and-glory.sheet.actor .advances-fields .experience .header,
.wrath-and-glory.sheet.actor .advances-fields .experience .data {
  display: flex;
}

.wrath-and-glory.sheet.actor .advances-fields .experience .data {
  margin-top: 4px;
}

.wrath-and-glory.sheet.actor .advances-fields .experience .header label,
.wrath-and-glory.sheet.actor .advances-fields .experience .data label {
  flex: 1;
  cursor: default;
}
.wrath-and-glory.sheet.actor .advances-fields .experience .header 
{
  justify-content: flex-end;
}

.wrath-and-glory.sheet.actor .advances-fields .experience .header > * 
{
  flex: 0.2;
}


.wrath-and-glory.sheet.actor .advances-fields .experience .data .current,
.wrath-and-glory.sheet.actor .advances-fields .experience .data .spent,
.wrath-and-glory.sheet.actor .advances-fields .experience .data .total {
  flex: 0.5
}

.wrath-and-glory.sheet.actor .details .cosmetic label
{
 width: 150px;
}

.wrath-and-glory.sheet.actor .details .background label
{
 width: 200px;
}

.wrath-and-glory.sheet.actor .details input.bg-bonus
{
 width: 200px;
}

