.wrath-and-glory.sheet.actor .stats {
  h1 {
    align-self: center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .total {
      color: var(--color-imperium)
    }


    .attributes {
      display: flex;
      margin-top: 8px;

      .attribute {
        display: flex;
        flex-direction: column;
        margin: 0 4px;
        flex: 1;

        input {
          border: 1px solid var(--color-black);
          border-top: 0 none;
          height: unset;
          width: 100%
        }

        .attribute-inputs {
          display: flex;

          >* {
            flex: 1;
          }

          .attribute-input-stack {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }

    .skills {
      display: flex;
      flex-direction: row;
      margin-top: 8px;

      >* {
        display: flex;
        flex-direction: column;
        flex: 1
      }

      .left {
        margin-right: 4px;
      }

      .right {
        margin-left: 4px;
      }

      .skill {
        display: flex;
        flex-direction: row;
        margin: 3px 0;

        input {
          flex: 1;
        }

        label {
          flex: 2;
          display: flex;
          justify-content: space-between;

          >span {
            opacity: 0.5;
            flex: 0 0 40px;
          }
        }

        .skill-inputs {
          display: flex;
          flex: 1
        }

      }

      .skill:last-child {
        margin-bottom: 0;
      }


    }

  }
}