.wrath-and-glory.sheet.actor .talents.active {
  height: 100%;
  display: flex;
  flex-direction: column;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrapper.powers {
    margin-top: 8px
  }
}