{{#if result.damage}}
<button type="button" data-action="rollDamage">Roll Damage</button>
{{/if}}

{{#if showTest}}
<button type="button" data-action="rollTest">{{testDisplay}}</button>
{{/if}}

{{> effectButtons}}