<div>

    <div class="form-group">
        <label>{{localize "DIALOG.WOUNDS"}}</label>
        <div class="form-fields">
            <input name="wounds" type="number" value="{{fields.wounds}}" />
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "DIALOG.IGNORE_SHOCK"}}</label>
        <div class="form-fields">
            <input name="ignoreShock" type="checkbox" {{checked fields.ignoreShock}} />
        </div>
    </div>
</div>