<div>
    <div class="form-group">
        <label >{{localize "DIALOG.POWER_LEVEL"}}</label>
        <div class="form-fields">
            <select name="level">
                {{selectOptions data.levels selected=fields.level}}
            </select>
        </div>
    </div>
</div>