<div class="wrath-and-glory dialog">
    <h1>{{name}}</h1>
    <div class="wrapper">
        <b class="name"></b>
        <b class="base">{{localize "DIALOG.BASE"}}</b>
        <b class="rank">{{localize "DIALOG.RANK"}}</b>
        <b class="base">{{localize "DIALOG.BONUS"}}</b>
    </div>
    <div class="wrapper">
        <label class="name">{{localize "WEAPON.DAMAGE"}}</label>
        <input id="damage-base" class="base" type="number" value="{{weapon.damage.base}}" data-dtype="Number" />
        <select id="damage-rank" class="rank">
            {{#select weapon.damage.rank}}
            <option value="none">{{localize "RANK.NONE"}}</option>
            <option value="single">{{localize "RANK.SINGLE"}}</option>
            <option value="double">{{localize "RANK.DOUBLE"}}</option>
            {{/select}}
        </select>
        <input id="damage-bonus" class="bonus" type="number" value="{{weapon.damage.bonus}}" data-dtype="Number" />
    </div>
    <div class="wrapper">
        <label class="name">{{localize "WEAPON.ED"}}</label>
        <input id="ed-base" class="base" type="number" value="{{weapon.ed.base}}" data-dtype="Number" />
        <select id="ed-rank" class="rank">
            {{#select weapon.ed.rank}}
            <option value="none">{{localize "RANK.NONE"}}</option>
            <option value="single">{{localize "RANK.SINGLE"}}</option>
            <option value="double">{{localize "RANK.DOUBLE"}}</option>
            {{/select}}
        </select>
        <input id="ed-bonus" class="bonus" type="number" value="{{weapon.ed.bonus}}" data-dtype="Number" />
    </div>
    <div class="wrapper">
        <label class="name">{{localize "WEAPON.AP"}}</label>
        <input id="ap-base" class="base" type="number" value="{{weapon.ap.base}}" data-dtype="Number" />
        <select id="ap-rank" class="rank">
            {{#select weapon.ap.rank}}
            <option value="none">{{localize "RANK.NONE"}}</option>
            <option value="single">{{localize "RANK.SINGLE"}}</option>
            <option value="double">{{localize "RANK.DOUBLE"}}</option>
            {{/select}}
        </select>
        <input id="ap-bonus" class="bonus" type="number" value="{{weapon.ap.bonus}}" data-dtype="Number" />
    </div>
    <div class="wrapper">
        <label class="name">{{localize "WEAPON.TRAITS"}}</label>
        <input id="traits" class="full" type="text" value="{{weapon.traits}}" />
    </div>
</div>
<script>
    $(".wrapper input").focusin(function () {
        $(this).select();
    });
</script>