<div class="wrath-and-glory dialog weapon-dialog">
    <div class="wrapper-left">
        <h1>{{localize weapon.skill.label}}</h1>
        <div class="wrapper">
            <b class="name"></b>
            <b class="base">{{localize "DIALOG.BASE"}}</b>
            <b class="rank">{{localize "DIALOG.RANK"}}</b>
            <b class="bonus">{{localize "DIALOG.BONUS"}}</b>
        </div>
        <div class="wrapper">
            <label class="name">{{localize "DIALOG.DN"}}</label>
            <input id="difficulty-target" class="difficulty base" type="number" value="{{difficulty.target}}" data-dtype="Number" />
            <select id="difficulty-rank" class="difficulty rank">
                {{#select weapon.ed.rank}}
                {{#each (config "difficultyRankTypes" )as |rank r|}}
                <option value="{{r}}">{{rank}}</option>
                {{/each}}
                {{/select}}
            </select>
            <input id="difficulty-penalty" class="difficulty bonus" type="number" value="{{difficulty.penalty}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label class="name">{{localize "DIALOG.DICE_POOL"}}</label>
            <input id="pool-size" class="pool base" type="number" value="{{pool.size}}" data-dtype="Number" />
            <select id="pool-rank" class="pool rank">
                {{#select pool.rank}}
                {{#each (config "rankTypes") as |rank r|}}
                <option value="{{r}}">{{rank}}</option>
                {{/each}}
                {{/select}}
            </select>
            <input id="pool-bonus" class="pool bonus" type="number" value="{{pool.bonus}}" data-dtype="Number" />
        </div>
    </div>
    <div class="wrapper-right">
        <h1 style="margin-top: 8px;">{{weapon.name}}</h1>
        <div class="wrapper">
            <b class="name"></b>
            <b class="base">{{localize "DIALOG.BASE"}}</b>
            <b class="rank">{{localize "DIALOG.RANK"}}</b>
            <b class="bonus">{{localize "DIALOG.BONUS"}}</b>
        </div>
        <div class="wrapper">
            <label class="name">{{localize "WEAPON.DAMAGE"}}</label>
            <input id="damage-base" class="damage base" type="number" value="{{damage.base}}" data-dtype="Number" />
            <select id="damage-rank" class="damage rank">
                {{#select weapon.damage.rank}}
                {{#each (config "rankTypes") as |rank r|}}
                <option value="{{r}}">{{rank}}</option>
                {{/each}}
                {{/select}}
            </select>
            <input id="damage-bonus" class="damage bonus" type="number" value="{{damage.bonus}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label class="name">{{localize "WEAPON.ED"}}</label>
            <input id="ed-base" class="ed base" type="number" value="{{ed.base}}" data-dtype="Number" />
            <select id="ed-rank" class="ed rank">
                {{#select weapon.ed.rank}}
                {{#each (config "rankTypes") as |rank r|}}
                <option value="{{r}}">{{rank}}</option>
                {{/each}}
                {{/select}}
            </select>
            <input id="ed-bonus" class="ed bonus" type="number" value="{{ed.bonus}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label class="name">{{localize "WEAPON.AP"}}</label>
            <input id="ap-base" class="ap base" type="number" value="{{ap.base}}" data-dtype="Number" />
            <select id="ap-rank" class="ap rank">
                {{#select weapon.ap.rank}}
                {{#each (config "rankTypes") as |rank r|}}
                <option value="{{r}}">{{rank}}</option>
                {{/each}}
                {{/select}}
            </select>
            <input id="ap-bonus" class="ap bonus" type="number" value="{{ap.bonus}}" data-dtype="Number" />
        </div>
        <div class="wrapper">
            <label class="name">{{localize "WEAPON.TRAITS"}}</label>
            <input id="traits" class="full" type="text" value="{{weapon.Traits}}" />
        </div>
        <div class="wrapper">
            <b class="name"></b>
            <b class="die">1</b>
            <b class="die">2</b>
            <b class="die">3</b>
            <b class="die">4</b>
            <b class="die">5</b>
            <b class="die">6</b>
        </div>
        <div class="wrapper">
            <label class="name">{{localize "WEAPON.DIE_VALUE"}}</label>
            <input id="die-one" class="die" type="number" value="{{lookup damageValues '1'}}" data-dtype="Number" />
            <input id="die-two" class="die" type="number" value="{{lookup damageValues '2'}}" data-dtype="Number" />
            <input id="die-three" class="die" type="number" value="{{lookup damageValues '3'}}" data-dtype="Number" />
            <input id="die-four" class="die" type="number" value="{{lookup damageValues '4'}}" data-dtype="Number" />
            <input id="die-five" class="die" type="number" value="{{lookup damageValues '5'}}" data-dtype="Number" />
            <input id="die-six" class="die" type="number" value="{{lookup damageValues '6'}}" data-dtype="Number" />
        </div>
    </div>
</div>
<div class="dialog-effects">
    <div class="wrapper">
        <h1>{{localize "HEADER.EFFECTS"}}</h1>
        <select class="effect-select" multiple>
            {{#each changeList as |change c|}}
            <option title="{{change.document.label}}: {{change.conditional.description}}" value="{{change.index}}">&#8226; {{#if change.target}}Target: {{/if}} {{change.conditional.description}}</option>
            {{/each}}
        </select>
    </div>
</div>