.application.wrath-and-glory.sheet.actor {

    --roll-bg: var(--color-warm-3);

    section[data-tab]
    {
        overflow: auto;
    }

    .sheet-header {
        .attribute-box {
            height: 1.5rem;
        }

        .like-input {
            height: 1.5rem;
            line-height: 1.5rem;
          }
    }

    .attribute-box {
        .label.rollable {
            &:hover {
                cursor: pointer;
                background: var(--roll-bg)
            }
        }
        
    }

    .attributes {
        display: flex;
        gap: 0.5rem;

        margin-bottom: 0.5rem;
        .attribute-group {
            display: flex;
            flex-direction: column;
            border: 1px solid var(--input-border);
            flex: 1;
    
            label {
                width: 100%;
                height: 2rem;
                line-height: 2rem;
                text-align: center;
                &:hover {
                    cursor: pointer;
                    background: var(--roll-bg)
                }
            }
            
            .components {
                display: flex;
                height: 3rem;
                input {
                    &:first-of-type { border-bottom: 1px solid var(--input-border);} 
                    height: 50%;
                    border-radius: 0px;
                    &.total {
                        height: 100%;
                        border: 0px;
                    }
                }
            }
        }
    }


    .skills {
        height: calc(12 * 2rem);
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
        flex-wrap: wrap;
        gap: 0.5rem;
        .attribute-box {
            width: 49%;
            height: 2rem;
            flex: 0  0 2rem;
            line-height: 2rem;
            
            .label:hover {
                cursor: pointer;
                background: var(--roll-bg)
            }

            .label,
            .field,
            input {
                height: 2rem;
                border-radius: 0px; 
            }
        }
        .label {
            display: flex;
            justify-content: space-between;
            .skill-attribute {
                flex: 0 0 4rem;
                text-align: center;
                opacity: 0.5;
            }
        }
    }

    .ascensions,
    .keywords {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
        .ascension,
        .keyword {
            border-radius: 10px;
            background: var(--keyword-bg);
            line-height: 1.5rem;
            padding: 0.2rem 0.5rem;
            display: flex;
            justify-content: space-around;
            a {
                white-space: no-wrap;
            }
            img {
                height: 1.5rem;
                flex: 0 0 1.5rem;
            }
            > * {
                flex: 1;
                text-align: center;
            }
        }
    }

    .combat-sections {
        display: flex;
        gap: 0.5rem;
        width: 100%;
        max-height: 16.5rem;

        > * {
            overflow: auto;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .attribute-box {
                flex: 0 0 1.5rem;
            }
            .sheet-divider
            {
                margin: 0px;
            }
        }
    }

    .gear-fields {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        > * {
            flex: 0 0 10rem;
        }
        h2 {
            flex: 1;
            margin: 0px;
        }
    }

    .list-row {
        button {
            height: 1.5rem;
        }
    }

    .quantity {
        display: flex;
        justify-content: center;
        button {
            border: 0px;
            outline: none;
            box-shadow: none;

            &:hover {
                background: none;
            }
        }
    }

    .notes-section  {
        .flexrow {
            gap: 0.5rem;
        }
    }

    .tab[data-tab=notes]
    {
        h2:not(:first-child) 
        {
            margin-top: 1rem;
        }
    }

    .advances {
        display: flex;
        gap: 0.5rem;

        .small {
            flex: 0.7
        }

        .experience {
            flex: 3;
        }


        &.labels {
            .attribute-box {
                border: 0px;
            }
            .label {
                border: 0px;
            }
        }
    }
}