.wrath-and-glory.roll{

    h4 {
        color: var(--color-black);
        font-family: var(--font-text);
        margin: 0px;
        font-weight: bold;
        text-align: center;
      }

      button {
        width:  100%;
      }

      h3 {
        font-size: var(--font-size-18);
        font-weight: bold;
        text-align: center;
      }

    .dice-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
      }
      
      .die {
        width: 60px;
        height: 60px;
        margin: 3px;
        margin-right: 7px;
        position: relative;
        &.selected {
            box-shadow: 0 0 10px darkred;
        }

        &:hover {
            text-shadow: none;
        }

        .shift-icon{
            left: -5px;
            }

        .die-icon {
            position: absolute;
            height: 25px;
            width: 25px;
            text-align: center;
            border-radius: 50%;
            background-color: white;
            z-index: 1;
            right: -5px;
            top: -5px;
            padding-top: 2px;
            padding-top: 3px;
            font-size: 14px;
            font-weight: bold;
            &.reroll{
                right: -5px;
                top: -5px;
              }

            &.shift-icon{
                left: -5px;
            }
          }
      }

      .potency 
        {
        margin-top: 5px;

        .potency-allocation {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
          }

          .potency-list {
            display: flex;
            flex-direction: column;
            justify-content: left;
            .potency-option{
                display: flex;
                align-items: center;
                button{

                    height: 20px;
                    width: 20px;
                    min-width: 20px;
                    margin: 3px;
                    padding: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    font-size: 20px;
                  
                  }
              }
          }
        }
}

.wrath-and-glory.chat.item {
  img {
    margin: 0px auto;
  }
  h3 {
    text-align: center;
    margin: 1rem 0px;
  }
}

