<section class="tab {{tab.cssClass}}" data-group="primary" data-tab="{{tab.id}}">
    <h2 class="sheet-divider">{{localize "TITLE.NOTES"}}</h2>
    <div class="editor-section">
        {{formInput fields.notes value=system.notes enriched=enriched.system.notes toggled=true}}
    </div>
</section>