<div class="wrapper">
    <label>{{localize "DIALOG.WOUNDS"}}</label>
    <input name="wounds" type="number" value="{{fields.wounds}}" />
</div>

<div class="wrapper">
    <label>{{localize "DIALOG.IGNORE_SHOCK"}}</label>
    <input name="ignoreShock" type="checkbox" {{checked fields.ignoreShock}} />
</div>