<div class="bonus">
  <div class="wrapper-title">
    <h1>{{localize "TITLE.ATTRIBUTES"}}</h1>
    <div class="wrapper">
      <div class="stat">
        <label>{{localize "ATTRIBUTE.STRENGTH"}}</label>
        <input name="system.bonus.attributes.strength" type="number" value="{{system.bonus.attributes.strength}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "ATTRIBUTE.TOUGHNESS"}}</label>
        <input name="system.bonus.attributes.toughness" type="number" value="{{system.bonus.attributes.toughness}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "ATTRIBUTE.AGILITY"}}</label>
        <input name="system.bonus.attributes.agility" type="number" value="{{system.bonus.attributes.agility}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "ATTRIBUTE.INITIATIVE"}}</label>
        <input name="system.bonus.attributes.initiative" type="number" value="{{system.bonus.attributes.initiative}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "ATTRIBUTE.WILLPOWER"}}</label>
        <input name="system.bonus.attributes.willpower" type="number" value="{{system.bonus.attributes.willpower}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "ATTRIBUTE.INTELLECT"}}</label>
        <input name="system.bonus.attributes.intellect" type="number" value="{{system.bonus.attributes.intellect}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "ATTRIBUTE.FELLOWSHIP"}}</label>
        <input name="system.bonus.attributes.fellowship" type="number" value="{{system.bonus.attributes.fellowship}}" data-dtype="Number" />
      </div>
    </div>
  </div>
  <div class="wrapper-title">
    <h1>{{localize "TITLE.SKILLS"}}</h1>
    <div class="wrapper">
      <div class="stat">
        <label>{{localize "SKILL.ATHLETICS"}}</label>
        <input name="system.bonus.skills.athletics" type="number" value="{{system.bonus.skills.athletics}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "SKILL.MEDICAE"}}</label>
        <input name="system.bonus.skills.medicae" type="number" value="{{system.bonus.skills.medicae}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "SKILL.AWARENESS"}}</label>
        <input name="system.bonus.skills.awareness" type="number" value="{{system.bonus.skills.awareness}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "SKILL.PERSUASION"}}</label>
        <input name="system.bonus.skills.persuasion" type="number" value="{{system.bonus.skills.persuasion}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "SKILL.BALLISTIC_SKILL"}}</label>
        <input name="system.bonus.skills.ballisticSkill" type="number" value="{{system.bonus.skills.ballisticSkill}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "SKILL.PILOT"}}</label>
        <input name="system.bonus.skills.pilot" type="number" value="{{system.bonus.skills.pilot}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "SKILL.CUNNING"}}</label>
        <input name="system.bonus.skills.cunning" type="number" value="{{system.bonus.skills.cunning}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "SKILL.PSYCHIC_MASTERY"}}</label>
        <input name="system.bonus.skills.psychicMastery" type="number" value="{{system.bonus.skills.psychicMastery}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "SKILL.DECEPTION"}}</label>
        <input name="system.bonus.skills.deception" type="number" value="{{system.bonus.skills.deception}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "SKILL.SCHOLAR"}}</label>
        <input name="system.bonus.skills.scholar" type="number" value="{{system.bonus.skills.scholar}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "SKILL.INSIGHT"}}</label>
        <input name="system.bonus.skills.insight" type="number" value="{{system.bonus.skills.insight}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "SKILL.STEALTH"}}</label>
        <input name="system.bonus.skills.stealth" type="number" value="{{system.bonus.skills.stealth}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "SKILL.INTIMIDATION"}}</label>
        <input name="system.bonus.skills.intimidation" type="number" value="{{system.bonus.skills.intimidation}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "SKILL.SURVIVAL"}}</label>
        <input name="system.bonus.skills.survival" type="number" value="{{system.bonus.skills.survival}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "SKILL.INVESTIGATION"}}</label>
        <input name="system.bonus.skills.investigation" type="number" value="{{system.bonus.skills.investigation}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "SKILL.TECH"}}</label>
        <input name="system.bonus.skills.tech" type="number" value="{{system.bonus.skills.tech}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "SKILL.LEADERSHIP"}}</label>
        <input name="system.bonus.skills.leadership" type="number" value="{{system.bonus.skills.leadership}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "SKILL.WEAPON_SKILL"}}</label>
        <input name="system.bonus.skills.weaponSkill" type="number" value="{{system.bonus.skills.weaponSkill}}" data-dtype="Number" />
      </div>
    </div>
  </div>
  <div class="wrapper-title">
    <h1>{{localize "TITLE.COMBAT"}}</h1>
    <div class="wrapper">
      <div class="stat">
        <label>{{localize "HEADER.DEFENCE"}}</label>
        <input name="system.bonus.combat.defence" type="number" value="{{system.bonus.combat.defence}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "HEADER.RESILIENCE"}}</label>
        <input name="system.bonus.combat.resilience" type="number" value="{{system.bonus.combat.resilience}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "HEADER.WOUNDS"}}</label>
        <input name="system.bonus.combat.wounds" type="number" value="{{system.bonus.combat.wounds}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "HEADER.DETERMINATION"}}</label>
        <input name="system.bonus.combat.determination" type="number" value="{{system.bonus.combat.determination}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "HEADER.SHOCK"}}</label>
        <input name="system.bonus.combat.shock" type="number" value="{{system.bonus.combat.shock}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "HEADER.RESOLVE"}}</label>
        <input name="system.bonus.combat.resolve" type="number" value="{{system.bonus.combat.resolve}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "HEADER.AWARENESS"}}</label>
        <input name="system.bonus.combat.passiveAwareness" type="number" value="{{system.bonus.combat.passiveAwareness}}" data-dtype="Number" />
      </div>
      <div class="stat">
        <label>{{localize "HEADER.CONVICTION"}}</label>
        <input name="system.bonus.combat.conviction" type="number" value="{{system.bonus.combat.conviction}}" data-dtype="Number" />
      </div>
    </div>
  </div>
</div>
