<div class="effects">
  <div class="condition-list">
    {{#each conditions as |effect e|}}
    <div class="condition" title={{effect.label}} data-key={{effect.key}} {{#unless effect.existing}}style="opacity:0.5"{{/unless}}>
        <img src="{{effect.img}}"/>
        <a class="condition-toggle">
          {{#if effect.existing}}
          <i class="far fa-check-square"></i>
          {{else}}
          <i class="far fa-square"></i>
          {{/if}}
        </a>
    </div>
    {{/each}}
  </div>
  <div class="item-list">
    <div class="header">
      <div class="item-property item-image"></div>
      <span class="item-property item-name">{{localize "HEADER.EFFECTS"}}</span>
      <div class="item-controls">
        <a class="effect-create" title="Create Effect"><i class="fas fa-plus"></i></a>
      </div>
    </div>
    {{#each item.effects as |effect|}}
    <div class="item" data-effect-id="{{effect.id}}">
      <div class="item-content">
          <img class="item-property item-image" src="{{effecticon}}"></img>
          <div class="item-property item-name effect-edit">{{effectlabel}}</div>
          
          <div class="item-controls">
            <a class="item-control effect-delete" title="Delete Effect"><i class="fas fa-times"></i></a>
          </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
