{{> systems/wrath-and-glory/templates/chat/roll/base/base-buttons.hbs}}
{{#if result.isWrathComplication}}
<div class="wrapper">
        <button type="button" data-action="rollWrath">Roll Complication</button>
</div>
{{/if}}