<form>
    <img class="background-image" src="{{archetype.data.img}}">
    <div class="character-creation">
        <header class="header">
            <h1><input type="text" name="name" value="{{actor.name}}" placeholder="Name"></h1>
        </header>
        <div class="sheet-body">
            <div class="species column">
                <h3>{{species.name}}</h3>
                <div class="column-details">
                    <div class="wrapper">
                        <label>{{localize "SPECIES.COST"}}</label>
                        <input type="text" disabled value="{{species.cost}}">
                    </div>

                    <div class="wrapper">
                        <label>{{localize "SPECIES.SPEED"}}</label>
                        <input type="text" name="data.combat.speed" disabled value="{{species.speed}}">
                    </div>
                    <div class="wrapper">
                        <label>{{localize "SPECIES.SIZE"}}</label>
                        <input type="text" disabled value="{{configLookup 'size' species.size}}">
                    </div>

                    <h4>Attributes</h4>
                    {{#each species.attributes as |attribute a|}}
                    {{#if attribute}}
                    <div class="wrapper">
                        <label>{{configLookup "attributes" a}}</label>
                        <input type="text" disabled value="{{attribute}}">
                    </div>
                    {{/if}}
                    {{/each}}

                    <h4>Skills</h4>
                    {{#each species.skills as |skill s|}}
                    {{#if skill}}
                    <div class="wrapper">
                        <label>{{configLookup "skills" s}}</label>
                        <input type="text" disabled value="{{skill}}">
                    </div>
                    {{/if}}
                    {{/each}}


                    <h4>Abilities</h4>
                    {{#each speciesAbilities as |ability a|}}
                    <div class="ability">
                        <div class="ability-header">
                            <img src="{{ability.data.img}}">
                            <label>{{ability.name}}</label>
                        </div>
                        <div class="ability-description">
                            {{{enrich ability.description}}}
                        </div>
                    </div>
                    {{/each}}

                </div>
            </div>
            <div class="archetype column">
                <h3>{{archetype.name}}</h3>
                <div class="wrapper">
                    <label>{{localize "ARCHETYPE.COST"}}</label>
                    <input type="text" disabled value="{{archetype.cost}}">
                </div>
                <div class="wrapper">
                    <label>{{localize "ARCHETYPE.TIER"}}</label>
                    <input type="text" disabled value="{{archetype.tier}}">
                    <label>{{localize "ARCHETYPE.INFLUENCE"}}</label>
                    <input type="text" disabled value="{{archetype.influence}}">
                </div>
                <h4>Attributes</h4>
                {{#each archetype.attributes as |attribute a|}}
                {{#if attribute}}
                <div class="wrapper">
                    <label>{{configLookup "attributes" a}}</label>
                    <input type="text" disabled value="{{attribute}}">
                </div>
                {{/if}}
                {{/each}}

                <h4>Skills</h4>
                {{#each archetype.skills as |skill s|}}
                {{#if skill}}
                <div class="wrapper">
                    <label>{{configLookup "skills" s}}</label>
                    <input type="text" disabled value="{{skill}}">
                </div>
                {{/if}}
                {{/each}}

                <h4>Keywords</h4>
                <div class="keywords">
                    {{{array archetype.keywords "keyword"}}}
                </div>

                <h4>Ability</h4>
                <div class="ability">
                    <div class="ability-header">
                        <img src="{{archetypeAbility.data.img}}">
                        <label>{{archetypeAbility.name}}</label>
                    </div>
                    <div class="ability-description">
                        {{{enrich archetypeAbility.description}}}
                    </div>
                </div>

                <h4>Wargear</h4>
                <div class="wargear">
                    {{{wargearHTML}}}
                </div>
            </div>
            <div class="faction column">
                <h3>{{faction.name}}</h3>
                {{#if faction.backgrounds.origin.length}}
                <h4>{{localize "FACTION.ORIGIN"}} <a class="roll-background origin"><i class="fas fa-dice"></i></a></h4>
                <ol class="origin">
                    {{#each faction.backgrounds.origin as |bg index|}}
                    <li><a class="background" data-index="{{index}}" data-effect="{{bg.effect}}"><b>{{bg.name}}</b>: {{bg.description}}</li></a>
                    {{/each}}
                </ol>
                {{/if}}
                {{#if faction.backgrounds.accomplishment.length}}
                <h4>{{localize "FACTION.ACCOMPLISHMENT"}} <a class="roll-background accomplishment"><i class="fas fa-dice"></i></a></h4>
                <ol class="accomplishment">
                    {{#each faction.backgrounds.accomplishment as |bg index|}}
                    <li><a class="background" data-index="{{index}}" data-effect="{{bg.effect}}"><b>{{bg.name}}</b>: {{bg.description}}</li></a>
                    {{/each}}
                </ol>
                {{/if}}
                {{#if faction.backgrounds.goal.length}}
                <h4>{{localize "FACTION.GOAL"}} <a class="roll-background goal"><i class="fas fa-dice"></i></a></h4>
                <ol class="goal">
                    {{#each faction.backgrounds.goal as |bg index|}}
                    <li><a class="background" data-index="{{index}}" data-effect="{{bg.effect}}"><b>{{bg.name}}</b>: {{bg.description}}</li></a>
                    {{/each}}
                </ol>
                {{/if}}

                <div class="wrapper">
                    <label>Selected Bonus</label>
                    <select name="background-bonus" class="background-bonus">
                        <option value="">-</option>
                    </select>
                </div>

                <h4>{{localize "FACTION.OBJECTIVES"}}</h4>
                <ul>
                    {{#each faction.objectives as |objective index|}}
                    <li>{{objective}}</li>
                    {{/each}}
                </ul>

            </div>
            <div class="customization column">
                <div class="column-details">

                <h3>Customization</h3>

                <div class="wrapper xp">
                    <label>{{localize "CC.XP_SPENT"}}</label>
                    <input type="text" value="{{archetype.cost}}">
                    <label>{{localize "CC.XP_AVAILABLE"}}</label>
                    <input type="text" value="{{character.experience.total}}">
                </div>

                <h4>Attributes</h4>
                {{#each character.attributes as |attribute a|}}
                <div class="wrapper stat-edit" data-attribute="{{a}}">
                    <label><span></span>{{configLookup "attributes" a}} {{#if (lookup ../species.attributeMax a)}}<span>Max: {{lookup ../species.attributeMax a}}</span>{{/if}}</label>
                    <input  type="number" value="{{attribute.total}}">
                    <button class="dec" type="button">-</button>
                    <button class="inc" type="button">+</button>
                </div>
                {{/each}}

                <h4>Skills</h4>
                {{#each character.skills as |skill s|}}
                <div class="wrapper stat-edit" data-skill="{{s}}">
                    <label>{{configLookup "skills" s}}</label>
                    <input  type="number" value="{{skill.total}}">
                    <button class="dec" type="button">-</button>
                    <button class="inc" type="button">+</button>
                </div>
                {{/each}}

                <div class="talents">
                    
                </div>
                
                </div>
            </div>
        </div>
    </div>
    <button class="submit">Submit</button>
</form>