<div class="counter-app"> 

  <div class="counter-controls">
    <a class="handle"><i class="fas fa-grip-horizontal"></i></a>
  </div>

  <div class="counters">
    <div class="counter">
      <h3>{{localize "RESOURCE.GLORY"}}</h3>
      <div class="input-controls">
        <a {{#unless canEdit}}style="visibility: hidden"{{/unless}} class="decr">-</a> 
        <input type="number" data-type="glory" value="{{glory}}" 
        {{#unless canEdit}}disabled{{/unless}}> 
        <a  {{#unless canEdit}}style="visibility: hidden"{{/unless}} class="incr">+</a>
      </div>
    </div>
    
    
    <div class="counter">
      <h3>{{localize "RESOURCE.RUIN"}}</h3>
      <div class="input-controls">
        <a {{#unless (isGM)}}style="visibility: hidden"{{/unless}} class="decr">-</a>
        <input type="number" data-type="ruin" value="{{ruin}}" 
        {{#unless (isGM)}}disabled{{/unless}}> 
        <a {{#unless (isGM)}}style="visibility: hidden"{{/unless}} class="incr">+</a>
      </div>
    </div>
  </div>

  </div>
