<div class="combat">
  <div class="general wrapper">
    <h1>{{localize "TITLE.GENERAL"}}</h1>
    <div class="wrapper-item">
      <label style="cursor: default;">{{localize "HEADER.DEFENSE"}}</label>
      <input type="number" value="{{data.combat.defense.total}}" data-dtype="Number" disabled />
    </div>
    <div class="wrapper-item">
      <label style="cursor: default;">{{localize "HEADER.RESILENCE"}}</label>
      <input type="number" value="{{data.combat.resilence.total}}" data-dtype="Number" disabled />
    </div>
    <div class="wrapper-item">
      <label style="cursor: default;">{{localize "HEADER.SHOCK"}}</label>
      <input style="flex-basis: 20%;" name="data.combat.shock.value" type="number" value="{{data.combat.shock.value}}"
        data-dtype="Number" />
      <input style="flex-basis: 20%;" type="number" value="{{data.combat.shock.max}}" data-dtype="Number" disabled />
    </div>
    <div class="wrapper-item">
      <label style="cursor: default;">{{localize "HEADER.AWARENESS"}}</label>
      <input type="number" value="{{data.combat.passiveAwareness.total}}" data-dtype="Number" disabled />
    </div>
    <div class="wrapper-item">
      <label class="roll-stealth hover">{{localize "HEADER.STEALTH_SCORE"}}</label>
      <input name="data.combat.stealth" type="number" value="{{data.combat.stealth}}" data-dtype="Number" />
    </div>
    <div class="wrapper-item">
      <label style="cursor: default;">{{localize "HEADER.SIZE"}}</label>
      <select name="data.combat.size" style="max-width: 91px;">
        {{#select data.combat.size}}
        <option value="tiny">{{localize "SIZE.TINY"}}</option>
        <option value="small">{{localize "SIZE.SMALL"}}</option>
        <option value="average">{{localize "SIZE.AVERAGE"}}</option>
        <option value="large">{{localize "SIZE.LARGE"}}</option>
        <option value="huge">{{localize "SIZE.HUGE"}}</option>
        <option value="gargantuan">{{localize "SIZE.GARGANTUAN"}}</option>
        {{/select}}
      </select>
    </div>
    <div class="wrapper-item">
      <label style="cursor: default;">{{localize "HEADER.SPEED"}}</label>
      <input name="data.combat.speed" type="number" value="{{data.combat.speed}}" data-dtype="Number" />
    </div>
  </div>
  <div class="injuries wrapper">
    <h1>{{localize "TITLE.INJURIES"}}</h1>
    <div class="wrapper-item">
      <label class="roll-determination hover">{{localize "HEADER.DETERMINATION"}}</label>
      <input type="number" value="{{data.combat.determination.total}}" data-dtype="Number" disabled />
    </div>
    <div class="wrapper-item">
      <label style="cursor: default;">{{localize "HEADER.WOUNDS"}}</label>
      <input style="flex-basis: 20%;" name="data.combat.wounds.value" type="number" value="{{data.combat.wounds.value}}"
        data-dtype="Number" />
      <input style="flex-basis: 20%;" type="number" value="{{data.combat.wounds.max}}" data-dtype="Number" disabled />
    </div>
    <div class="traumatics">
      <div class="header">
        <b class="name">{{localize "HEADER.TRAUMATIC"}}</b>
        <div class="button">
          <a class="item-create" title="Add Traumatic Injury" data-type="traumaticInjury"><i
              class="fas fa-plus"></i></a>
        </div>
      </div>
      <div class="scrollable">
        {{#each actor.items as |item|}}
        {{#if item.isTraumaticInjury}}
        <div class="traumatic item" data-item-id="{{item._id}}">
          <div class="wrapper-hover">
            <div class="avatar" style="background-image: url('{{item.img}}')"></div>
            <div class="name item-edit">{{item.name}}</div>
          </div>
          <div class="button">
            <a class="item-control item-delete" title="Delete Traumatic Injury"><i class="fas fa-times"></i></a>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
    <div class="memorables">
      <div class="header">
        <b class="name">{{localize "HEADER.MEMORABLE"}}</b>
        <div class="button">
          <a class="item-create" title="Add Memorable Injury" data-type="memorableInjury"><i
              class="fas fa-plus"></i></a>
        </div>
      </div>
      <div class="scrollable">
        {{#each actor.items as |item|}}
        {{#if item.isMemorableInjury}}
        <div class="memorable item" data-item-id="{{item._id}}">
          <div class="wrapper-hover">
            <div class="avatar" style="background-image: url('{{item.img}}')"></div>
            <div class="name item-edit">{{item.name}}</div>
          </div>
          <div class="button">
            <a class="item-control item-delete" title="Delete Memorable Injury"><i class="fas fa-times"></i></a>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="mutation wrapper">
    <h1>{{localize "TITLE.MUTATIONS"}}</h1>
    <div class="wrapper-item">
      <label class="roll-conviction hover">{{localize "HEADER.CONVICTION"}}</label>
      <input type="number" value="{{data.corruption.conviction}}" data-dtype="Number" disabled />
    </div>
    <div class="wrapper-item">
      <label class="roll-resolve hover">{{localize "HEADER.RESOLVE"}}</label>
      <input type="number" value="{{data.combat.resolve.total}}" data-dtype="Number" disabled />
    </div>
    <div class="wrapper-item">
      <label style="cursor: default;">{{localize "HEADER.CORRUPTION"}}</label>
      <input name="data.corruption.current" type="number" value="{{data.corruption.current}}" data-dtype="Number" />
    </div>
    <div class="mutations">
      <div class="header">
        <b class="name">{{localize "HEADER.MUTATION"}}</b>
        <div class="button">
          <a class="item-create" title="Add Mutation" data-type="mutation"><i
              class="fas fa-plus"></i></a>
        </div>
      </div>
      <div class="scrollable">
        {{#each actor.items as |item|}}
        {{#if item.isMutation}}
        <div class="mutation item" data-item-id="{{item._id}}">
          <div class="wrapper-hover">
            <div class="avatar" style="background-image: url('{{item.img}}')"></div>
            <div class="name item-edit">{{item.name}}</div>
          </div>
          <div class="button">
            <a class="item-control item-delete" title="Delete Mutation"><i class="fas fa-times"></i></a>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="wargear wrapper">
    <h1>{{localize "TITLE.WARGEAR"}}</h1>
    <div class="faith">
      <label>{{localize "RESOURCE.FAITH"}}</label>
      <input name="data.resources.faith.current" type="number" value="{{data.resources.faith.current}}" data-dtype="Number" />
      <input name="data.resources.faith.total" type="number" value="{{data.resources.faith.total}}" data-dtype="Number" />
    </div>
    <div class="scrollable">
      <div class="items">
        <div class="header">
          <b class="avatar"></b>
          <b class="name">{{localize "HEADER.WEAPON"}}</b>
          <b class="damage">{{localize "WEAPON.DAMAGE"}}</b>
          <b class="ed">{{localize "WEAPON.ED"}}</b>
          <b class="ap">{{localize "WEAPON.AP"}}</b>
          <b class="range">{{localize "WEAPON.RANGE"}}</b>
          <b class="traits">{{localize "WEAPON.TRAITS"}}</b>
        </div>
        {{#each actor.items as |item|}}
        {{#if item.isWeapon}}
        <div class="item" data-item-id="{{item._id}}">
          <div class="avatar" style="background-image: url('{{item.img}}')"></div>
          <div class="name roll-weapon">{{item.name}}</div>
          <div class="damage">{{damage item.data.damage}}</div>
          <div class="ed">{{ed item.data.ed}}</div>
          <div class="ap">{{ap item.data.ap}}</div>
          <div class="range">{{range item.data}}</div>
          <div class="traits">{{item.data.traits}}</div>
        </div>
        {{/if}}
        {{/each}}
      </div>
      <div class="items" style="margin-top: 8px;">
        <div class="header">
          <b class="avatar"></b>
          <b class="name">{{localize "HEADER.ARMOUR"}}</b>
          <b class="rating">{{localize "ARMOUR.RATING"}}</b>
          <b class="traits-armour">{{localize "ARMOUR.TRAITS"}}</b>
        </div>
        {{#each actor.items as |item|}}
        {{#if item.isArmour}}
        <div class="item" data-item-id="{{item._id}}">
          <div class="avatar" style="background-image: url('{{item.img}}')"></div>
          <div class="name item-edit">{{item.name}}</div>
          <div class="rating">{{item.data.rating}}</div>
          <div class="traits-armour">{{item.data.traits}}</div>
        </div>
        {{/if}}
        {{/each}}
      </div>
      <div class="items" style="margin-top: 8px;">
        <div class="header">
          <b class="avatar"></b>
          <b class="name">{{localize "HEADER.PSYCHIC_POWER"}}</b>
          <b class="dn">{{localize "PSYCHIC_POWER.DN"}}</b>
          <b class="activation">{{localize "PSYCHIC_POWER.ACTIVATION"}}</b>
          <b class="duration">{{localize "PSYCHIC_POWER.DURATION"}}</b>
          <b class="range-psychic">{{localize "PSYCHIC_POWER.RANGE"}}</b>
          <b class="multi-target">{{localize "PSYCHIC_POWER.MULTI_TARGET"}}</b>
        </div>
        {{#each actor.items as |item|}}
        {{#if item.isPsychicPower}}
        <div class="item" data-item-id="{{item._id}}">
          <div class="avatar" style="background-image: url('{{item.img}}')"></div>
          <div class="name roll-psychic-power">{{item.name}}</div>
          <div class="dn">{{item.data.dn}}</div>
          <div class="activation">{{activation item.data.activation}}</div>
          <div class="duration">{{item.data.duration}}</div>
          <div class="range-psychic">{{item.data.range}}</div>
          <div class="multi-target">{{multiTarget item.data.multiTarget}}</div>
        </div>
        {{/if}}
        {{/each}}
      </div>
      <div class="items" style="margin-top: 8px;">
        <div class="header">
          <b class="avatar"></b>
          <b class="name">{{localize "HEADER.ABILITY"}}</b>
          <b class="effect">{{localize "HEADER.EFFECT"}}</b>
        </div>
        {{#each actor.items as |item|}}
        {{#if item.isTalentOrAbility}}
        {{#if item.data.display}}
        <div class="item" data-item-id="{{item._id}}">
          <div class="avatar" style="background-image: url('{{item.img}}')"></div>
          <div class="name item-edit">{{item.name}}</div>
          <div class="effect">{{item.data.effect}}</div>
        </div>
        {{/if}}
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>