<div class="gear">
  <div class="wrapper">
    <div class="influence">
      <label class="roll-influence hover">{{localize "RESOURCE.INFLUENCE"}}</label>
      <input name="data.resources.influence" type="number" value="{{data.resources.influence}}" data-dtype="Number" />
    </div>
    <h1>{{localize "TITLE.WARGEAR"}}</h1>
    <div class="wealth">
      <label>{{localize "RESOURCE.WEALTH"}}</label>
      <input name="data.resources.wealth" type="number" value="{{data.resources.wealth}}" data-dtype="Number" />
    </div>
    <div class="scrollable">
      <div class="items">
        <div class="header">
          <b class="avatar"></b>
          <b class="name">{{localize "HEADER.WEAPON"}}</b>
          <b class="damage">{{localize "WEAPON.DAMAGE"}}</b>
          <b class="ed">{{localize "WEAPON.ED"}}</b>
          <b class="ap">{{localize "WEAPON.AP"}}</b>
          <b class="range">{{localize "WEAPON.RANGE"}}</b>
          <b class="traits">{{localize "WEAPON.TRAITS"}}</b>
          <div class="button">
            <a class="item-create" title="Add Weapon" data-type="weapon"><i class="fas fa-plus"></i></a>
          </div>
        </div>
        {{#each actor.items as |item|}}
        {{#if item.isWeapon}}
        <div class="item" data-item-id="{{item._id}}">
          <div class="avatar" style="background-image: url('{{item.img}}')"></div>
          <div class="name item-edit">{{item.name}}</div>
          <div class="damage">{{damage item.data.damage}}</div>
          <div class="ed">{{ed item.data.ed}}</div>
          <div class="ap">{{ap item.data.ap}}</div>
          <div class="range">{{range item.data}}</div>
          <div class="traits">{{item.data.traits}}</div>
          <div class="button">
            <a class="item-control item-delete" title="Delete Weapon"><i class="fas fa-times"></i></a>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
      <div class="items" style="margin-top: 8px;">
        <div class="header">
          <b class="avatar"></b>
          <b class="name">{{localize "HEADER.ARMOUR"}}</b>
          <b class="rating">{{localize "ARMOUR.RATING"}}</b>
          <b class="traits-armour">{{localize "ARMOUR.TRAITS"}}</b>
          <div class="button">
            <a class="item-create" title="Add Armour" data-type="armour"><i class="fas fa-plus"></i></a>
          </div>
        </div>
        {{#each actor.items as |item|}}
        {{#if item.isArmour}}
        <div class="item" data-item-id="{{item._id}}">
          <div class="avatar" style="background-image: url('{{item.img}}')"></div>
          <div class="name item-edit">{{item.name}}</div>
          <div class="rating">{{item.data.rating}}</div>
          <div class="traits-armour">{{item.data.traits}}</div>
          <div class="button">
            <a class="item-control item-delete" title="Delete Armour"><i class="fas fa-times"></i></a>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
      <div class="items" style="margin-top: 8px;">
        <div class="header">
          <b class="avatar"></b>
          <b class="name">{{localize "HEADER.GEAR"}}</b>
          <b class="effect">{{localize "HEADER.EFFECT"}}</b>
          <div class="button">
            <a class="item-create" title="Add Gear" data-type="gear"><i class="fas fa-plus"></i></a>
          </div>
        </div>
        {{#each actor.items as |item|}}
        {{#if item.isGear}}
        <div class="item" data-item-id="{{item._id}}">
          <div class="avatar" style="background-image: url('{{item.img}}')"></div>
          <div class="name item-edit">{{item.name}}</div>
          <div class="effect">{{item.data.effect}}</div>
          <div class="button">
            <a class="item-control item-delete" title="Delete Gear"><i class="fas fa-times"></i></a>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
      <div class="items" style="margin-top: 8px;">
        <div class="header">
          <b class="avatar"></b>
          <b class="name">{{localize "HEADER.WEAPON_UPGRADE"}}</b>
          <b class="effect">{{localize "HEADER.EFFECT"}}</b>
          <div class="button">
            <a class="item-create" title="Add Weapon Upgrade" data-type="weaponUpgrade"><i class="fas fa-plus"></i></a>
          </div>
        </div>
        {{#each actor.items as |item|}}
        {{#if item.isWeaponUpgrade}}
        <div class="item" data-item-id="{{item._id}}">
          <div class="avatar" style="background-image: url('{{item.img}}')"></div>
          <div class="name item-edit">{{item.name}}</div>
          <div class="effect">{{item.data.effect}}</div>
          <div class="button">
            <a class="item-control item-delete" title="Delete Weapon Upgrade"><i class="fas fa-times"></i></a>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
      <div class="items" style="margin-top: 8px;">
        <div class="header">
          <b class="avatar"></b>
          <b class="name">{{localize "HEADER.AMMO"}}</b>
          <b class="effect">{{localize "HEADER.EFFECT"}}</b>
          <div class="button">
            <a class="item-create" title="Add Ammo" data-type="ammo"><i class="fas fa-plus"></i></a>
          </div>
        </div>
        {{#each actor.items as |item|}}
        {{#if item.isAmmo}}
        <div class="item" data-item-id="{{item._id}}">
          <div class="avatar" style="background-image: url('{{item.img}}')"></div>
          <div class="name item-edit">{{item.name}}</div>
          <div class="effect">{{item.data.effect}}</div>
          <div class="button">
            <a class="item-control item-delete" title="Delete Ammo"><i class="fas fa-times"></i></a>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
      <div class="items" style="margin-top: 8px;">
        <div class="header">
          <b class="avatar"></b>
          <b class="name">{{localize "HEADER.AUGMENTIC"}}</b>
          <b class="effect">{{localize "HEADER.EFFECT"}}</b>
          <div class="button">
            <a class="item-create" title="Add Augmentic" data-type="augmentic"><i class="fas fa-plus"></i></a>
          </div>
        </div>
        {{#each actor.items as |item|}}
        {{#if item.isAugmentic}}
        <div class="item" data-item-id="{{item._id}}">
          <div class="avatar" style="background-image: url('{{item.img}}')"></div>
          <div class="name item-edit">{{item.name}}</div>
          <div class="effect">{{item.data.effect}}</div>
          <div class="button">
            <a class="item-control item-delete" title="Delete Augmentic"><i class="fas fa-times"></i></a>
          </div>
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>