<div class="talents">
  <div class="wrapper">
    <h1>{{localize "TITLE.TALENTS_ABILITIES"}}</h1>
    <div class="scrollable">
      <div class="items">
        <div class="header">
          <b class="avatar"></b>
          <b class="name">{{localize "HEADER.TALENT"}}</b>
          <b class="effect">{{localize "HEADER.EFFECT"}}</b>
        </div>
        {{#each actor.items as |item|}}
        {{#if item.isTalent}}
        <div class="item" data-item-id="{{item._id}}">
          <div class="avatar" style="background-image: url('{{item.img}}')"></div>
          <div class="name item-edit">{{item.name}}</div>
          <div class="effect">{{item.data.effect}}</div>
        </div>
        {{/if}}
        {{/each}}
      </div>
      <div class="items" style="margin-top: 8px;">
        <div class="header">
          <b class="avatar"></b>
          <b class="name">{{localize "HEADER.ABILITY"}}</b>
          <b class="effect">{{localize "HEADER.EFFECT"}}</b>
        </div>
        {{#each actor.items as |item|}}
        {{#if item.isAbility}}
        <div class="item" data-item-id="{{item._id}}">
          <div class="avatar" style="background-image: url('{{item.img}}')"></div>
          <div class="name item-edit">{{item.name}}</div>
          <div class="effect">{{item.data.effect}}</div>
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="wrapper" style="margin-top: 8px;">
    <h1>{{localize "TITLE.PSYCHIC_POWERS"}}</h1>
    <div class="scrollable" style="height: 229px;">
      <div class="items">
        <div class="header">
          <b class="avatar"></b>
          <b class="name">{{localize "HEADER.NAME"}}</b>
          <b class="effect">{{localize "HEADER.EFFECT"}}</b>
        </div>
        {{#each actor.items as |item|}}
        {{#if item.isPsychicPower}}
        <div class="item" data-item-id="{{item._id}}">
          <div class="avatar" style="background-image: url('{{item.img}}')"></div>
          <div class="name item-edit">{{item.name}}</div>
          <div class="effect">{{item.data.effect}}</div>
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>