    <div class="wrapper">
        <h3>{{context.title}}</h3>

        {{#if result.dn}}
        <h4>{{localize "CHAT.DN"}} {{result.dn}}</h4>
        {{/if}}
        {{> systems/wrath-and-glory/template/chat/roll/base/dice-container.hbs}}

    </div>
    