{{#if result.damage}}
<div class="wrapper">
    <button type="button" class="roll-damage">Roll Damage</button>
</div>
{{/if}}

{{#if showTest}}
<div class="wrapper">
        <button type="button" class="roll-test">{{testDisplay}}</button>
</div>
{{/if}}

<div class="wrapper">
{{> effectButtons}}
</div>