<section class="tab sidebar-tab directory flexcol" id="combat" data-tab="combat">
    <header id="combat-round">
        {{#if user.isGM}}
        <nav class="encounters flexrow">
            <a class="combat-create" title="{{localize 'COMBAT.Create'}}">
                <i class="fas fa-plus"></i>
            </a>
            {{#if combatCount}}
            <a class="combat-cycle" title="{{localize 'COMBAT.EncounterPrevious'}}"
               {{#if previousId}}data-combat-id="{{previousId}}"{{else}}disabled{{/if}}>
                <i class="fas fa-caret-left"></i>
            </a>
            <h4 class="encounter">{{localize "COMBAT.Encounter"}} {{currentIndex}} / {{combatCount}}</h4>
            <a class="combat-cycle" title="{{localize 'COMBAT.EncounterNext'}}"
               {{#if nextId}}data-combat-id="{{nextId}}"{{else}}disabled{{/if}}>
                <i class="fas fa-caret-right"></i>
            </a>
            {{/if}}
            <a class="combat-control" title="{{localize 'COMBAT.Delete'}}" data-control="endCombat" {{#unless combatCount}}disabled{{/unless}}>
                <i class="fas fa-trash"></i>
            </a>
        </nav>
        {{/if}}

        <nav class="encounters flexrow {{#if hasCombat}}combat{{/if}}">
            {{#if user.isGM}}
            <a class="combat-control" title="{{localize 'COMBAT.RollAll'}}" data-control="rollAll" {{#unless turns}}disabled{{/unless}}>
                <i class="fas fa-users"></i>
            </a>
            <a class="combat-control" title="{{localize 'COMBAT.RollNPC'}}" data-control="rollNPC" {{#unless turns}}disabled{{/unless}}>
                <i class="fas fa-users-cog"></i>
            </a>
            {{/if}}

            {{#if combatCount}}
            {{#if combat.round}}
            <h3 class="encounter-title">{{localize 'COMBAT.Round'}} {{combat.round}}</h3>
            {{else}}
            <h3 class="encounter-title">{{localize 'COMBAT.NotStarted'}}</h3>
            {{/if}}
            {{else}}
            <h3 class="encounter-title">{{localize "COMBAT.None"}}</h3>
            {{/if}}

            {{#if user.isGM}}
            <a class="combat-control" title="{{localize 'COMBAT.InitiativeReset'}}" data-control="resetAll"
                {{#unless hasCombat}}disabled{{/unless}}>
                <i class="fas fa-undo"></i>
            </a>
            <a class="combat-control" title="{{labels.scope}}"
                data-control="toggleSceneLink" {{#unless hasCombat}}disabled{{/unless}}>
                <i class="fas fa-{{#unless linked}}un{{/unless}}link"></i>
            </a>
            <a class="combat-settings" title="{{localize 'COMBAT.Settings'}}" data-control="trackerSettings">
                <i class="fas fa-cog"></i>
            </a>
            {{/if}}
        </nav>
    </header>

    <ol id="combat-tracker" class="directory-list">
        {{#if current.length}}
        <h1>Current</h1>
        {{#each current}}
        {{> systems/wrath-and-glory/template/apps/combatant-list.html combatant=this}}
        {{/each}}
        {{else if combat.round}}
        <h2>Select a Combatant</h2> 
        {{/if}}

        {{#if pending.length}}
        <h1>Pending</h1>
        {{#each pending}}
            {{> systems/wrath-and-glory/template/apps/combatant-list.html combatant=this}}
        {{/each}}
        {{/if}}

        {{#if complete.length}}
        <h1>Complete</h1>
        <div style="opacity: 0.5">
            {{#each complete}}
            {{> systems/wrath-and-glory/template/apps/combatant-list.html combatant=this}}
            {{/each}}
            {{/if}}
        </div>

        {{#if defeated.length}}
        <h1>Defeated</h1>
        {{#each defeated}}
        {{> systems/wrath-and-glory/template/apps/combatant-list.html combatant=this}}
        {{/each}}
        {{/if}}
    </ol>

    <nav id="combat-controls" class="directory-footer flexrow">
    {{#if hasCombat}}
        {{#if user.isGM}}
            {{#if round}}
            <a class="combat-control" title="{{localize 'COMBAT.RoundPrev'}}" data-control="previousRound"><i class="fas fa-step-backward"></i></a>
            <a class="combat-control center" title="{{localize 'COMBAT.End'}}" data-control="endCombat">{{localize 'COMBAT.End'}}</a>
            <a class="combat-control" title="{{localize 'COMBAT.RoundNext'}}" data-control="nextRound"><i class="fas fa-step-forward"></i></a>
            {{else}}
            <a class="combat-control center" title="{{localize 'COMBAT.Begin'}}" data-control="startCombat">{{localize 'COMBAT.Begin'}}</a>
            {{/if}}
        {{else if control}}
        <a class="combat-control" title="{{localize 'COMBAT.TurnPrev'}}" data-control="previousTurn"><i class="fas fa-arrow-left"></i></a>
        <a class="combat-control center" title="{{localize 'COMBAT.TurnEnd'}}" data-control="nextTurn">{{localize 'COMBAT.TurnEnd'}}</a>
        <a class="combat-control" title="{{localize 'COMBAT.TurnNext'}}" data-control="nextTurn"><i class="fas fa-arrow-right"></i></a>
        {{/if}}
    {{/if}}
    </nav>
</section>
